<!--<?php print <<<EOT
-->
<script language="JavaScript" src="$imgpath/global.js"></script>
<br>
<center>$footer_ad</center>
<br>
<center><small><font color="#999999">Powered by <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> Code &copy; 2003-06 <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <br>
$wind_spend Time now is:$ft_time, $ft_gzip <a href="http://www.ebay.com.cn" target=_blank title='&#19968;&#20159;&#20116;&#21315;&#19975;&#20154;&#29233;&#19978;&#30340;&#36141;&#29289&#32593;&#31449;'>eBay Eachnet</a><br><br><a href="http://www.paypal.com/cn" target=_blank><img src="$imgpath/pay.gif" align="absmiddle" alt='&#36125;&#23453;&#65292;&#23433;&#20840;&#12289;&#24555;&#25463;&#12289;&#26041;&#20415;&#30340;&#32593;&#19978;&#25903;&#20184;&#26041;&#24335;'></a> You can  <a href='$db_ceoconnect'>contact us</a></font></small>
</center><br></body>
</html>
<!--
EOT;
?>-->