<!--<?php 
print <<<EOT
-->
<script language="JavaScript" src="$db_bbsurl/$js_path"></script>
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center>
<tr><td align=left><img src='$imgpath/$stylepath/index/home.gif' align=absbottom> <b><a href='$db_bfn'>$db_bbsname</a> $msg_guide</b></td></tr>
</table><br>
<table cellspacing=0 cellpadding=0 width='$tablewidth' align=center>
<tr><td>
<!--
EOT;
if($action=='modify'){print <<<EOT
-->
<form method="post" name="form" action="post.php?">
<table cellPadding=3 cellSpacing=1 width='100%' $i_table>
<tr><td class=head colspan=2><b>修改文章</b></td></tr>
<tr><td height='25' class='t_one' colspan=2><b>删除帖子(此操作不可恢复，请慎重使用！)</b></td></tr>
<tr class='t_one'><td>
<div style="float:left;"><b>注意: 如果这个帖子是主题内的第一个帖子且已有人回复此帖，需拥有管理权限才能删除。</b></div>
<div style="float:right;">
<!--
EOT;
if($postgd){
$rawwindid=addslashes($windid);
print <<<EOT
-->
<b>认证码</b>
<input type='text' name='gdcode' size=8>&nbsp;<img src="ck.php?windid=$rawwindid" align=absmiddle>
<!--
EOT;
}print <<<EOT
-->
<input type='submit' value='直接删除'></div>
</td></tr></table><br>
<input type=hidden value=1 name=step>
<input type=hidden value='$action' name='action'>
<input type=hidden value='$fid' name=fid>
<input type=hidden value='$tid' name=tid>
<input type=hidden value='$pid' name=pid>
<input type=hidden value='$pollid' name=pollid>
<input type=hidden value='$article' name=article>
</form>
<!--
EOT;
}print <<<EOT
-->
<form method="post" name="FORM" action="post.php?" enctype="multipart/form-data">
<table cellPadding=3 cellSpacing=1 width='100%' $i_table align=center>
<tr><td class=head colspan=3>&nbsp;</td></tr>
<!--
EOT;
if(($t_per==1 || $admincheck) && $t_exits==1){
print <<<EOT
-->
<tr><td class='t_one'>主题分类</td>
<td class='t_one'>
<SELECT name="p_type">
<OPTION value=0>默认分类</OPTION>
<!--
EOT;
foreach($t_typedb as $key=>$value){
if($value){
print <<<EOT
-->
<OPTION $t_checked[$key] value=$key>$value</OPTION>
<!--
EOT;
}
}print <<<EOT
-->
</select></td></tr>
<!--
EOT;
}if($foruminfo['cms'] && ($action=="new" || ($action=='modify' && $article==0))){print <<<EOT
-->
<tr><td class='t_one'><b>关键字</b>(<font color=blue>可不填</font>)每个不多于20字节<br>相同关键字, 将视为相关文章</td>
<td class='t_one'>
1.<input class=subject maxLength=20 name='keyword[]' size=10 value='$kname[0]'>
2.<input class=subject maxLength=20 name='keyword[]' size=10 value='$kname[1]'>
3.<input class=subject maxLength=20 name='keyword[]' size=10 value='$kname[2]'></td></tr>
<!--
EOT;
}print <<<EOT
-->
<tr><td width='20%' class='t_one'><b>标题</b></td>
<td class='t_one'>
<input name="atc_title" size=60 value='$atc_title' tabindex="1"></td></tr>
<!--
EOT;
if($postgd){
$rawwindid=addslashes($windid);
print <<<EOT
-->
<tr class='t_one'><td><b>认证码</b></td>
<td><input type='text' name='gdcode' size=8 tabindex="2">&nbsp;<img src="ck.php?windid=$rawwindid" align=absmiddle></td></tr>
<!--
EOT;
}print <<<EOT
-->
<tr><td class='t_one'><b>Icon</b></td>
<td class='t_one'>
<!--
EOT;
foreach($icondb as $key=>$icon){
print <<<EOT
-->
<input name=atc_iconid type=radio value='$key'><img src='$imgpath/post/emotion/$icon'>
<!--
EOT;
if($key%7==0){
print <<<EOT
-->
<br>
<!--
EOT;
}}
if(is_array($votearray) || $action=='vote'){ print <<<EOT
-->
<tr><td class='t_one'><b>投票选项:<br>每行写一个投票选项<br>最多可以有 $db_selcount 个选项<br>多选
<input type=checkbox value='1' name=multiplevote $multi><br>
最多选择个数<input maxlength=10 size=1 name=mostvotes value=$mostnum>
</b></td>
<td class='t_one'>
<!--
EOT;
if($action=='modify'){
foreach($votearray['options'] as $key=>$votes){
$votes[0]=stripslashes($votes[0]);
print <<<EOT
-->
<input class=text maxLength=60 name='vt_selarray[$key]' size=60 value='$votes[0]'><br>
<!--
EOT;
}print <<<EOT
-->
<input class=text maxLength=60 name='vt_selarray[]' size=60 value=''> 新的投票项（留空忽略）<br>
<!--
EOT;
}elseif($action=='vote'){print <<<EOT
-->
<textarea name=vt_select rows=10 wrap=hard cols=80>$vt_select</textarea>
<!--
EOT;
}print <<<EOT
-->
</td></tr>
<!--
EOT;
}if($action=='new' && $sale && $forumset[allowsale]!=2){print <<<EOT
-->
<tr>
	<td width='20%' class='t_one'>卖家：</td>
	<td class='t_one'><input name="seller" size=30 value='$winddb[email]'></td>
</tr>
<tr>
	<td width='20%' class='t_one'>商品名称：</td>
	<td class='t_one'><input name="subject" size=30> 价格：<input name="price" size=7></td>
</tr>
<tr>
	<td width='20%' class='t_one'>邮费承担方：</td>
	<td class='t_one'>
		<input type=radio value=1 name=transport onclick="this.form.ordinary_fee.disabled=true;this.form.express_fee.disabled=true;"> 卖家承担运费&nbsp;&nbsp; 
		<input type=radio value=2 name=transport onclick="this.form.ordinary_fee.disabled=false;this.form.express_fee.disabled=false;"> 买家承担运费<br>
		<input type=hidden value=3>
		平邮&nbsp;<input disabled size=7 name=ordinary_fee> 元 &nbsp;&nbsp; 
		快递&nbsp;<input disabled size=7 name=express_fee> 元
	</td>
</tr>
<tr>
	<td width='20%' class='t_one'>演示地址：</td>
	<td class='t_one'><input name="demo" size=30></td>
</tr>
<tr>
	<td width='20%' class='t_one'>联系方式：</td>
	<td class='t_one'><input name="contact" size=30></td>
</tr>
<tr>
	<td width='20%' class='t_one'>收款方式</td>
	<td class='t_one'>
		<input type=radio name="method" value="1" checked>使用贝宝收款
	</td>
</tr>
<!--
EOT;
}print <<<EOT
-->
<tr><td valign=top  class='t_one'>
<!--
EOT;
if($editor=='wysiwyg_editor'){
$htmcheck=$action=='new' ? 'checked' : ($ifsign>=2 ? 'checked':'');
$jump=rawurlencode('post.php?'.$_SERVER['QUERY_STRING']);
print <<<EOT
-->
<input type=hidden name='c_editor' value='1'>
切换到 <a href="job.php?action=switch&cur=$winddb[editor]&jump=$jump"><b>Wind Code</b></a> 编辑器<br>
<br><b>内容</b><br><br>
<input type=hidden name='atc_html' value='1'>
<!--
EOT;
}else{
if($gp_wysiwyg){
$jump=rawurlencode('post.php?'.$_SERVER['QUERY_STRING']);
print <<<EOT
-->
切换到 <a href="job.php?action=switch&cur=$winddb[editor]&jump=$jump"><b>所见即所得</b></a> 编辑器<br><br>
<!--
EOT;
}print <<<EOT
-->
Wind 代码<br>
<input onclick='checkmode(2)' type=radio checked='checked' value=2 name=mode>提示插入<br>
<input onclick='checkmode(0)' type=radio value=0 name=mode>直接插入<br>
<input onclick='checkmode(1)' type=radio value=1 name=mode>帮助信息 <br>
<br><b>内容</b><br><br>
<!--
EOT;
if($gp_htmlcode){print <<<EOT
-->
<input type=checkbox name='atc_html' value='1' $htmcheck><font face=verdana>使用HTML代码</font>
<!--
EOT;
}else{print <<<EOT
-->
<font face=verdana>HTML 代码不可用</font>
<!--
EOT;
}}print <<<EOT
-->
<br>
<font face=verdana>Wind Code</font>可用<br>点击<a target=_blank href=faq.php?faqjob=1><font color=blue><b>这里</b></font></a>看使用方法<br><b>Wind代码选项:</b><br>$windcode<br><br>
<input type=checkbox name='atc_autourl' value='1' checked>自动分析url<br>
<input type=checkbox name='atc_usesign' value='1' checked>使用签名<br>
<input type=checkbox name='atc_convert' value='1' checked>Wind Code自动转换<br>
<input name=atc_email type=checkbox  value=1 $hideemail>新回复邮件通知
<!--
EOT;
if($SYSTEM[typeadmin] && ($action=='new' || $action=='vote')){
print <<<EOT
-->
<br>
<input name=digest type=radio value=0 checked>普通帖<br>
<input name=digest type=radio value=1>精华1<input name=digest type=radio value=2>精华2
<!--
EOT;
}
print <<<EOT
-->
</td>
<td colspan=2 align=left class='t_one'>
<!--
EOT;
require_once PrintEot($editor);
if($editor=='editor'){
print <<<EOT
-->
<br>
推荐使用:
[<a href=javascript:copytext('FORM.atc_content')>复制到剪贴板</a>]-- 
[<a href=javascript:replac()>替换文本</a>]<br>
使用动作:<SELECT onchange='Addaction(this.options[this.selectedIndex].value);this.selectedIndex=0'>
<OPTION value='' selected></OPTION>
<!--
EOT;
foreach($motion as $key=>$motiondb){
print <<<EOT
-->	
<OPTION value='[p:$key]'>$motiondb[0]</OPTION>
<!--
EOT;
}print <<<EOT
-->
</SELECT>
[<a href='javascript:checklength(document.FORM);'>查看帖子长度</a>] 最大:$db_postmax 字节<br>
<input type=checkbox name='atc_hide' value='1' $htmlpost>
隐藏此帖，只有用户回复了此帖才可以查看帖子内容(请勿恶意隐藏)<br>
<input type=checkbox name='atc_requirervrc' value='1' $htmlhide>
加密此帖，只对部分用户可见，用户{$db_rvrcname}需大于
<input maxlength=6 size=6 name=atc_rvrc value='0'><br>
<!--
EOT;
if($action=='new' || $action=='modify' && $pid=='tpc'){print <<<EOT
-->
<input type=checkbox name='atc_requiresell' value='1' $htmlsell>
出售此帖，会员需付
<input maxlength=6 size=6 name=atc_money value='0'>
{$db_moneyname} 才能看到帖子内容(回复帖不能出售).(不能大于:<font color=blue>1000</font>)<br>
<!--
EOT;
}print <<<EOT
-->
表情<br>

<table width="63%" cellspacing="0" cellpadding="0">
<tr><td>
<div style="overflow:auto;height=0;"> 
<table width="100%" cellspacing="0" cellpadding="0"> 
<tr><td>
<!--
EOT;
include_once(R_P.'data/bbscache/postcache.php');
foreach($face as $key=>$facedb){
print <<<EOT
-->	
<a href="javascript:addsmile('[s:$key]')"><img src="$imgpath/post/smile/$facedb"></a>
<!--
EOT;
}print <<<EOT
-->
<td></tr></table></div></td></tr></table>
<!--
EOT;
}print <<<EOT
-->
</td></tr>
<!--
EOT;
if($attach){print <<<EOT
-->
<tr><td align=left valign="top" class='t_one'><b>该帖包含附件:<br>(不想保留的附件去掉√)</b></td>
<td align=left valign="top" class='t_one'>
<table width="100%" cellspacing=0 cellpadding=0>
<!--
EOT;
$num=0;
foreach($attach as $key => $value){
$num++;
print <<<EOT
-->
<tr>
	<td>
		<input type='checkbox' name='keep[]' value='$value[aid]' checked>
		所需{$db_rvrcname}： <input type='text' name='downrvrc[$value[aid]]' value='$value[needrvrc]' size='1'> &nbsp;
		描述： <input type='text' name='attdesc[$value[aid]]' value='$value[desc]' size='25'> &nbsp;
		附件： <font color='red'><b>$value[name]</b></font>&nbsp;($value[size]K) &nbsp; &nbsp; 
		<a href="javascript:" onclick="addattach('$value[aid]')"><b>将附件添加到帖子中</b></a>
	</td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table></td></tr>
<!--
EOT;
}print <<<EOT
-->

<!--
EOT;
if($db_allowupload && $gp_allowupload){
print <<<EOT
-->
<tr><td align=left valign="top" class='t_one'>附件最大:$db_uploadmaxsize (K)</td>
<td align=left valign="top" class='t_one'>
<b>有效文件类型:$db_uploadfiletype</b><br>
<INPUT name="muti" type="checkbox" value="1" onclick="showmuti()">多个附件<br>
<INPUT name="modify" type="checkbox" value="1">如果附件中带有图片，并希望进行图文混排操作，请在选中此项
<br><br>
所需{$db_rvrcname}： <input type='text' name='atc_downrvrc1' value='0' size='1'> &nbsp;
描述： <input type='text' name='atc_desc1' size='25'> &nbsp;
附件： <input type="file" class="subject" name="atc_attachment1">
<span id=attach2 style='DISPLAY: none'>
<!--
EOT;
for($i=2;$i<=$db_attachnum;$i++){
print <<<EOT
-->	
<br>
所需{$db_rvrcname}： <input type='text' name='atc_downrvrc$i' value='0' size='1'> &nbsp;
描述： <input type='text' name='atc_desc$i' size='25'> &nbsp;
附件： <input type="file" class=subject name='atc_attachment$i'>
<!--
EOT;
}print <<<EOT
-->
</td></tr>
<!--
EOT;
}$kjj_checked='';
$action=='new' && $db_kijiji && require_once PrintEot('kijiji');
print <<<EOT
-->
</table><br><br>
<tr><td align=center>
<input type=hidden value=2 name=step>
<input type=hidden value='$pid' name=pid>
<input type=hidden value='$action' name='action'>
<input type=hidden value='$fid' name=fid>
<input type=hidden value='$tid' name=tid>
<input type=hidden value='$article' name=article>
<input type=hidden value='$sale' name=sale>
<script language="JavaScript">
document.FORM.atc_title.focus();
function showmuti(){
if (document.FORM.muti.checked == true){
		attach2.style.display = '';
	}else{
		attach2.style.display = 'none';
	}
}
function showmkejiji(){
if (document.FORM.kjj.checked == true){
		kejiji.style.display = '';
	}else{
		kejiji.style.display = 'none';
	}
}
function gopreview()
{
	document.preview.atc_content.value=document.FORM.atc_content.value;
	document.preview.submit()
}
</script>
<input type="button" value="提 交" name="Submit" onclick="_submit();" tabindex="3"> 
<input type="button" value="预 览" name="Button" onclick="gopreview();">         
</td>
</tr>
</form>
<form name="preview" action="job.php?previewjob=preview" method="post" target="preview_page">
<input type="hidden" name="atc_content" value="">
</form>
</table>
<!--
EOT;
if($action=="reply" || $action=="quote"){print <<<EOT
-->
<br><center>主题回顾</center>
$post_reply
<!--
EOT;
}print <<<EOT
-->
<br>
<!--
EOT;
?>-->