<!--<?php print <<<EOT
-->
<html>
<head>
$expires
<meta http-equiv='Content-Type' content="text/html; charset=$db_charset">
<meta name="robots" content="index,follow">
<meta name='keywords' content='phpwind,board,php,mysql,forum'>
<meta http-equiv='refresh' content='$statime;url=$URL'>
<title>$db_bbsname $forumname $tpctitle</title>
<style type='text/css'>
body {font-family: Verdana;FONT-SIZE: 9pt;MARGIN: 0;color: #000000;background: #ffffff;}
td {FONT-SIZE: 9pt;}
a { TEXT-DECORATION: none;}
a:hover{ text-decoration: underline;}
img {border:0;}
.index_font{color: #3A4F6C;background-color:#EBEBEB; font-weight:bold;padding: 5px;}
.index_font a{color: #3A4F6C;font-weight:bold;padding: 5px;}
</style>
</head>
<body vlink='#333333' link='#333333'>
<br>
<table width='100%' cellspacing='0' cellpadding='0' height='90%' align='center'>
<tr align='center' valign='middle'><td>
<table cellspacing='1' cellpadding='10' bgcolor='#666666' width='600'>
<tr><td class='index_font' align='center' bgcolor=#9999cc><p>
<a href="$index_url">$index_name</a></a> &raquo; 提示信息&nbsp;$title<br><br>
$content<br><br><a href='$URL'>如果您的浏览器没有自动跳转,请点击这里</a></p>
</td></tr></table></td></tr></table></body></html>
<!--
EOT;
?>-->