<!--<?php print <<<EOT
-->
<center>
<blockquote><br><br><br><br><hr class=hr size=1>
Powered by <a href='http://www.phpwind.net' target=_blank> <b>PHPwind
</b> $wind_version</a>&nbsp;&copy; 2003-06,<b style='color: #FF9900'>phpwind.net</b>
<a href='http://www.phpwind.net' target=_blank><b>fengyu</b></a>
</blockquote><br>
</center>
<iframe id="noticeframe" border="0" vspace="0" hspace="0" marginwidth="0" marginheight="0"
  framespacing="0" frameborder="0" scrolling="no" width="0" height="0"
  src="$admin_file?adminjob=notice">
</iframe>
</body></html>
<!--
EOT;
?>