<!--<?php
include_once PrintEot("css");
print <<<EOT
-->
</head>
<body topmargin=5 leftmargin=5>
<table width="99%" align=center cellspacing=2 cellpadding=4 border=0>
	<tr class=head>
		<td width='30%' align=center>
			<a href='http://www.phpwind.net/thread.php?fid=18' target='_blank'><b>检查最新版本</b></a>
		</td>
		<td width='30%' align=center>
			<a href='http://www.phpwind.net/index.php' target='_blank'><b>PHPWind 用户交流</b></a>
		</td>
		<td width='30%' align=center><a href='./index.php' target='_blank'><b>进入首页</b></a></td>
	</tr>
</table>
<br>
<!--
EOT;
?>