{include file="subnavibar.html"}
<div id="page">
    <h2 class="title">话题管理</h2>
    <div class="entry"><form action="{spUrl c=admin a=multidel}" method="POST"  name="frmAnnounce">
            {foreach from=$results item=result}
            <p><input type="checkbox" id="topic" name="topic[]" value="{$result.gid}" />
                <a href="{spUrl c=main a=view gid=$result.gid}" target="_blank">{$result.title}</a>
                <span><a href="javascript:void(0);" onclick="delconfirm({$result.gid}, '{$result.title}');">删除</a>
                     {theDate time=$result.ctime} {$result.uname}
                    <abbr title="{getCity ip=$result.ip}"> {$result.ip}</abbr></span></p>
            {/foreach}
    </div>
    <div class="scott">
        <p><input type="checkbox" name="allbox" value="Check All" onClick="CA();">全部选中
            <input type="submit" class="links" value="删除"></form>
            {if $pager}
            {pager pager=$pager c="admin" a="topic" idname="ult" id="1"}
            {/if}
        </p>
    </div>
</div>

<script>
                    function CA() {
                        for (var i = 0; i < document.frmAnnounce.topic.length; i++) {
                            var e = document.frmAnnounce.topic[i];
                            if (e.name != 'allbox')
                                e.checked = document.frmAnnounce.allbox.checked;
                        }
                    }
                    setTimeout(hideActived, 2600);
                    function delconfirm(gid, title) {
                        if (window.confirm("确定删除“" + title + "”话题？")) {
                            window.location = "{spUrl c=admin a=del}&gid=" + gid;
                        }
                    }
</script>

{include file="footer.html"}