{include file="subnavibar.html"}
<div id="page">
    <h2 class="title">版块管理</h2>
    <div class="entry">
        <form action="{spUrl c=admin a=reorder}" method="POST">
            {foreach from=$results item=result}
            <p><input name="{$result.id}" type='number' value="{$result.order}" style="width:40px;">
                <a href="{spUrl c=main a=viewforum id=$result.id}" target="_blank"> {$result.name}</a>
    <span>
        <a href="{spUrl c=admin a=editforum id=$result.id}" >编辑</a>
        <a href="javascript:void(0);" onclick="delconfirm({$result.id},'{$result.name}');">删除</a>
    </span>
            </p>
            {/foreach}
            <p><input type="submit" class="links" value="重新排序" /></p>	</form>
    </div>
    <br />
    <h2 class="title">添加版块</h2><br />
    <div class="entry">
        <form action="{spUrl c=admin a=addforum}" method="POST">
            <p>版块名称：<input type="text" name="name"></p>
            <p>标题颜色：<input type="text" name="color" id="color" ><input type="button" id="colorpicker" value="打开取色器" /></p>
            <br/><p>版块介绍：<textarea cols=50 rows="3" type="instruc" name="5"></textarea></p>
            <p><input type="submit" class="links" value="提  交" /></p>
        </form>
    </div>
</div>
{include file="footer.html"}
<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
<script>
    function delconfirm(id,name){
        if( window.confirm("确定删除“" + name + "”版块？") ){
            window.location = "{spUrl c=admin a=delforum}&id=" + id;
        }
    }
    KindEditor.ready(function(K) {
        var colorpicker;
        K('#colorpicker').bind('click', function(e) {
            e.stopPropagation();
            if (colorpicker) {
                colorpicker.remove();
                colorpicker = null;
                return;
            }
            var colorpickerPos = K('#colorpicker').pos();
            colorpicker = K.colorpicker({
                x : colorpickerPos.x,
                y : colorpickerPos.y + K('#colorpicker').height(),
                z : 19811214,
                selectedColor : 'default',
                noColor : '无颜色',
                click : function(color) {
                    K('#color').val(color);
                    colorpicker.remove();
                    colorpicker = null;
                }
            });
        });
        K(document).click(function() {
            if (colorpicker) {
                colorpicker.remove();
                colorpicker = null;
            }
        });
    });
</script>