{include file="subnavibar.html"}
	<div id="page">
		<div class="post">
			<h2 class="title">权限与用户组</h2>
            <div class="instruction">
                <p>在这里你可以编辑权限与用户组，初始配置为GBADMIN(管理员)，GBUSER(普通用户及版主)。当修改程序时请根据相应动作增加相应权限。</p>
            </div>
			<div class="entry">
                        {foreach from=$results item=result}
			<p>{$result.name}({$result.aclid})<span><a href="javascript:voaclid(0);" onclick="delconfirm({$result.aclid},'{$result.name}');">删除</a></span>&nbsp;&nbsp;{$result.controller}&nbsp;&nbsp;{$result.action}&nbsp;&nbsp;{$result.acl_name}</p>
{/foreach}



			<br/></div>
            <h2 class="title">添加权限</h2><div class="entry">
			<form action="{spUrl c=admin a=addacl}" method="POST">
			<p>权 限 名 称：<input type="text" name="name" "waclidth:666px;">用于标示，无实际意义。</p>
			<p>控制器名称：<input type="text" name="controller" "waclidth:666px;"></p>
			<p>控制器动作：<input type="text" name="action" "waclidth:666px;"></p>
			<p>可用用户组：<input type="text" name="acl_name" "waclidth:666px;">如果一个权限X个用户组都拥有，请添加X个权限</p>


				<p><input type="submit" class="links" value="提  交" /></p>
			</form>
		</div>


	</div>
</div>
	{include file="footer.html"}
<script>
function delconfirm(aclid,name){
	if( window.confirm("确定删除名为“" + name + "”的权限？") ){
		window.location = "{spUrl c=admin a=delacl}&aclid=" + aclid;
	}
}
</script>