{include file="subnavibar.html"}
	<div id="page">
		<div class="post">
		<h2 class="title">编辑版块-{$info.name}</h2>
			<div class="entry">
			
			
		<form action="{spUrl c=admin a=forumedited}" method="POST">
			<p>版块名称：<input type="text" name="name"  value="{$info.name}"></p>
			<p>版块颜色：<input type="text" name="color" id="color" value="{$info.color}"><input type="button" id="colorpicker" value="打开取色器" /></p>
			<p>版块图标：<input type="text" id="url1" name="icon"  value="{$info.icon}"><input type="button" id="image1" value="选择图片" /></p>
            <p>阅读权限：<input type="text" name="authority"  value="{$info.authority}"> 只有积分超过阅读权限的用户或管理员可以浏览。
            <br/><p>版块介绍：<textarea cols=50 rows=5 name="instruc" >{$info.instruc}</textarea></p>
			<br/><p>版块规则：<textarea cols=50 rows=5 name="rule" >{$info.rule}</textarea></p>
			<input type="hidden" name="id" value="{$info.id}">
			<p><input type="submit" class="links" value="提  交" /></p>			
		</form>	<br/>	</div>
		<h2 class="title">添加版主</h2><div class="entry">
		<p>{foreach from=$results item=result}
			<a href="{spUrl c=user a=profile id=$result.uname}"><b>{$result.uname}</b></a> <a href="{spUrl c=admin a=delbm uname=$result.uname}">删除</a>
		{/foreach}</p>
		<form action="{spUrl c=admin a=addbm}" method="POST">
			<p>用户名：<input type="text" name="uname"/></p>
			<input type="hidden" name="id" value="{$info.id}">
			<p><input type="submit" class="links" value="提  交" /></p>			
		</form>	
			
					</div>
		</div>
	</div>
{include file="footer.html"}
<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
<script>
KindEditor.ready(function(K) {
				var colorpicker;
				K('#colorpicker').bind('click', function(e) {
					e.stopPropagation();
					if (colorpicker) {
						colorpicker.remove();
						colorpicker = null;
						return;
					}
					var colorpickerPos = K('#colorpicker').pos();
					colorpicker = K.colorpicker({
						x : colorpickerPos.x,
						y : colorpickerPos.y + K('#colorpicker').height(),
						z : 19811214,
						selectedColor : 'default',
						noColor : '无颜色',
						click : function(color) {
							K('#color').val(color);
							colorpicker.remove();
							colorpicker = null;
						}
					});
				});
				K(document).click(function() {
					if (colorpicker) {
						colorpicker.remove();
						colorpicker = null;
					}
				});
			});
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#image1').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#url1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url1').val(url);
								editor.hideDialog();
							}
						});
					});
				});
			});
</script>
