
{include file="subnavibar.html"}
<div id="page">
    <div class="post">
    <h2 class="title">QQ互联设置</h2>
        <div class="instruction">
            <p>此处你可以绑定或解除绑定QQ。</p>
        </div>
        <div class="entry">
                <p>绑定状态 ：{if $is_binding == 1}绑定{else}未绑定{/if}</p>
                <p></p>
                <p>{if $is_binding != 1}
                    <a href="{spUrl c=api a=qq_login}"><img src="template/common/qq_binding.gif" style="vertical-align: middle;"></a>
                    {else}
                    <a href="{spUrl c=api a=qq_binding remove_binding=1}">解除绑定</a>
                    {/if}</p>
        </div>
    </div>
</div>
{include file="footer.html"}