{include file="header.html" t="2048朝代版-游戏中心"}
<div id="page">
    <div class="post">
    <h2 class="title">2048朝代版-游戏中心</h2>
       <div class="container">

    <div class="heading">
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>


    <hr>

  </div>
    </div>
</div>
<script type="text/javascript" src="{$siteurl}/include/jquery-1.4.2.min.js"></script>
<link href="{$siteurl}/template/green/dynasty2048/main.css" rel="stylesheet" type="text/css">
<script src="{$siteurl}/template/green/dynasty2048/animframe_polyfill.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/keyboard_input_manager.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/html_actuator.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/grid.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/tile.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/local_score_manager.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/game_manager.js"></script>
<script src="{$siteurl}/template/green/dynasty2048/application.js"></script>
{include file="footer.html"}