{include file="header.html" t=$info.name}
<div id="page">
	<div class="post">
			{if $smarty.session.userinfo.uname}
                <span class="scott" style="text-align: left;font-size: 16px;"><a href="{spUrl c=main a=viewforum id=$info.id}">{$info.name}</a>
                <a href="{spUrl c=main a=post fid=$info.id}" class="new">新话题</a></span>
			{else}
				<p><b>{$info.name}</b>  请<a href="{spUrl c=main a=login backurl=$currenturl}">登录</a>后参与或创建话题。
			{/if}话题：{$info.topicnum}
            {if $info.bm}
                版主：
                {foreach from=$info.bm item=bm}
                    <a href="{spUrl c=user a=profile uname=$bm.uname}">{$bm.uname}</a>
                {/foreach}
            {/if}
			<a id='rss' href="{spUrl c=rss a=forum id=$info.id}">订阅</a></p>
			{if $info.rule}
				<p class="signature">{$info.rule}</p>
			{/if}
			{if $results || $tops}
        {if $pager.current_page ==1 || $pager.current_page == null}
        {foreach from=$tops item=top}
        <div class="top">
               <span class='topic'><span class="list1" >置顶</span>
                {if $top.close == "1"}
                <span class="list2" >锁定</span>
                {/if}
                {if $top.digest == "1"}
                <span class="digest" >精华</span>
                {/if}
                {if $top.authority}
                <span class="list3" > 阅读权限 {$top.authority} </span>
                {/if}
                {if $top.title}
                <a href="{spUrl c=main a=view gid=$top.gid}">{$top.title}</a>
                <br>{/if}</span>
            {cutString str=$top.contents length=100}
                {if !$top.title}<a href="{spUrl c=main a=view gid=$top.gid}">阅读全文</a>{/if}
          <p class="line">{getUrl uname=$top.uname}
            {theDate time=$top.ctime}
            最后评论：{getUrl uname=$top.lastreply.uname} {theDate time=$top.rtime}
            | 评论 {$top.replynum}
            | 阅读 {$top.view}
                {if ( "GBADMIN" == $smarty.session.userinfo.acl )}
                <a href="javascript:void(0);" onclick="delconfirm({$top.gid},'{$top.title}');">删除</a>
                {/if}
              </div>
        {/foreach}
{/if}
        {foreach from=$results item=result}
        <div class="new-row">
            {if $result.digest != "1"}<div class="new-row">{else}<div class='album'>{/if}
                {if $result.close == "1"}
                <span class="list2" >锁定</span>
                {/if}
                {if $result.digest == "1"}
                <span class="digest" >精华</span>
                {/if}
                {if $result.authority} <span class="list3" >阅读权限 {$result.authority}</span>{/if}
                {if $result.title}<a href="{spUrl c=main a=view gid=$result.gid}">{$result.title}</a><br>{/if}
            </span>
                {cutString str=$result.contents length=100}
                {if !$result.title}<a href="{spUrl c=main a=view gid=$result.gid}">阅读全文</a>{/if}</td>
            <p class="line">{getUrl uname=$result.uname}
            {theDate time=$result.ctime}
            最后评论：{getUrl uname=$result.lastreply.uname} {theDate time=$result.rtime}
            | 评论 {$result.replynum}
            | 阅读 {$result.view}
                {if ( "GBADMIN" == $smarty.session.userinfo.acl )}
               | <a href="javascript:void(0);" onclick="delconfirm({$result.gid},'{$result.title}');">删除</a>
                {/if}
         </div>
        {/foreach}
        {else}<p>这里什么都没有……</p>{/if}
		<div class="scott">
			<p>
				{if $pager}
                    {pager pager=$pager c="main" a="viewforum" idname="id" id=$info.id}
                {/if}
			</p>
		</div>
	</div>
</div>
<script>
function delconfirm(gid,title){
	if( window.confirm("确定删除“" + title + "”话题？") ){
		window.location = "{spUrl c=admin a=del}&gid=" + gid;
	}
}
</script>
{include file="footer.html"}