{include file="header.html"}
	<div id="page">

<p>话题: {$topicnum} | 用户: {$user} | 欢迎新会员{getUrl uname=$newer.uname}。
{if "" != $smarty.session.userinfo.uname}
				欢迎您 {$smarty.session.userinfo.uname}，您可以<a href="{spUrl c=main a=post}">创建新话题</a>。
{else}
欢迎您 {$smarty.session.userinfo.uname}，请<a href="{spUrl c=main a=login backurl=$currenturl}">登录</a>。
{/if}
<a id='rss' href="{spUrl c=rss a=index}">订阅</a></p>
{if 0 == $results}
	<p>管理员还没有创建版块。</p>
{else}
	<div id="index">
		<table>
			<tbody>
			{foreach from=$results item=result}
				<tr>
					<td width="100px" id="vcenter" >
					  {if $result.icon} <a href="{spUrl c=main a=viewforum id=$result.id}"><img src ="{$result.icon}" style="max-height:100px;max-width:100px"align="left"/></a>
					{/if}
					</td>
					<td width="50%">
						<h2 class="title"><a href="{spUrl c=main a=viewforum id=$result.id}"><span style=" color:{$result.color};">{$result.name}</span></a></h2>
						<p style="margin-bottom: 0;"> {$result.instruc}</p>
					</td>
					<td width="5%" >
						<p id="vcenter">
							{$result.topicnum}
						</p>
					</td>
					<td width="45%">
					{if $result.newpost.gid}<p>
						<a href="{spUrl c=main a=view gid=$result.newpost.gid}">
                            {if $result.newpost.title != ""}{cutString str=$result.newpost.title length=20}
                            {else}无标题{/if}
                        </a>
                       作者: {getUrl uname=$result.newpost.uname}
                        {theDate time=$result.newpost.rtime}</p>
					{/if}
					{if $result.bm}
                        <p  style="margin-bottom: 0;">版主:
                            {foreach from=$result.bm item=bm}
                                {getUrl uname=$bm.uname}
                            {/foreach}
                        </p>
					{/if}
						
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	</div>	

	<br>
{/if}
	</div>
{include file="footer.html"}