{include file="header.html" t='此刻'}
<div id="page">
	<div class="post">
		<table width="100%" class="item_list now">
            <tbody>
            {foreach from=$results item=result}
                <tr>
                    <td width="60px">
                        {if $result.avatar}
                             <img src="{$result.avatar}" width="50px" height="50px" style="border-radius: 30px;border: 5px #b2e05d solid;"/>
                        {else}
                            <img src ="./template/green/images/noavatar_big.gif" width="50px" height="50px" style="border-radius: 30px;border: 5px #b2e05d solid;" alt="{$info.uname}" align="right"/>
                        {/if}
                     </td>
                    <td>
                        <div class="content" >{getUrl uname=$result.uname} {$result.content}</div>
                        <br>
                        {theDate time=$result.ctime} <a href="{$result.url}">查看详情</a>
                    </td>
                </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="scott">
            <p>
                {if $pager}
                {pager pager=$pager c=main a=now idname=type id=default}
                {/if}
            </p>
        </div>
	</div>
</div>
<script>
function delconfirm(gid,title){
	if( window.confirm("确定删除“" + title + "”话题？") ){
		window.location = "{spUrl c=admin a=del}&gid=" + gid;
	}
}
</script>
{include file="footer.html"}