{include file="header.html" t="排行榜"}{if $pager.current_page == ""}{$pager.current_page = 1}{/if}
<div id="page">
	<div class="post">
		<table width="100%" class="item_list">
			<thead>
            {if substr($smarty.get.sort,-4,-1)!="DES"}{$s="DESC"}{else}{$s="ASC"}{/if}
				<th width="15" ></th>
				<th width="600" ><b>用户名</b></th>
				<th width="100" class="tdcenter"><a href={spUrl c=user a=userlist sort="credits%20DESC"}>积分</a></th>
				<th width="150" class="tdcenter"><a href={spUrl c=user a=userlist sort="ctime%20`$s`"}>注册时间</a></th>
				<th width="100" class="tdcenter"><a href={spUrl c=user a=userlist sort="post%20DESC"}>发帖数</a></th>
			</thead>
			<tbody>
			{foreach from=$results item=result}
				<tr>
					<td>{$i = $result@index + 1 + ($pager.current_page - 1)*30}
					{if $i <= 3}
						<div class="list{$i}">{$i}</div>
					{else}
						{$i}
					{/if}</td>
					<td>
					{if $result.male==1}
						<a href="{spUrl c=user a=profile uname=$result.uname}" title="Boy"><font color="skyblue">{$result.uname}</font></a>
					{elseif $result.male==2}
						<a href="{spUrl c=user a=profile uname=$result.uname}" title="Girl"><font color="pink">{$result.uname}</font></a>
					{else}
						<a href="{spUrl c=user a=profile uname=$result.uname}">{$result.uname}</a>
                        {if "1" == $result.admit}<img src="./template/green/images/admit.png" title="身份认证"/>{/if}
					{/if}
                        {if $result.birth}出生：{$result.birth|date_format:"%Y,%m,%d"}，{/if}{if $result.live != "火星"}来自：{$result.live}。{/if}{$result.introduce}</td>
					<td class="tdcenter">{$result.credits}</td>
					<td class="tdcenter">{theDate time=$result.ctime}</td>
					<td class="tdcenter">{$result.post} {if "GBADMIN" == $smarty.session.userinfo.acl}<a href="{spUrl c=user a=editprofile uid=$result.uid}" target="_blank">编辑</a>{/if}</td>
				</tr>
			{/foreach}
			</tbody>
		</table>	
		<div class="scott">
			<p>
				{if $pager.all_pages}
                    {pager pager=$pager c="user" a="userlist" idname="sort" id=$smarty.get.sort}
				{/if}
			</p>
		</div>
	</div>
</div>
{include file="footer.html"}