{include file="header.html" t="注册"}
<div id="page">
		<div class="post">
			<style>
                input:focus:invalid {   color: #b94a48;border-color: #ee5f5b; }
			</style>
			<h2 class="title">注册</h2>
			{if $allow_reg == 0 && $smarty.session.userinfo.acl != "GBADMIN"}
            <div class="instruction">
                <p>对不起，{$sitename}关闭了注册功能！</p>
            </div>
            {else}
            <div class="entry">
                <p>{if $errmsg}<span class="notice">{$errmsg}</span>{else}10秒快速注册{$sitename}账号{/if}</p>
				<form action="" method="POST" onsubmit="return aclcode();" autocomplete="off" id="Click" >
					<p>设置账号：<input type="text" name="uname" id="uname" value="{$smarty.post.uname}" title="请选择一个2到15字符的用户名" required="required" autofocus="autofocus"> <span id="ex2result">&nbsp;</span></p>
					<p>设置密码：<input type="password" name="upass"  id="upass"value="{$smarty.post.upass}" title="5到20个数字字母或符号" required="required"><span id="ex4result">&nbsp;</span></p>
					<p>确认密码：<input type="password" name="comfirm_upass"  id="comfirm_upass"  value="{$smarty.post.comfirm_upass}" title="请重复输入密码" required="required"></p>
					<p>您的邮箱：<input type="email" name="email" value="{$smarty.post.email}" id="email" required="required"><span id="ex3result">&nbsp;</span></p>
					<p>自动登录：<input type="checkbox" name="autologin"></p>
                                  			 {if $regcode==1}
                                			<input type="hidden" name="codex" value="1"/>
						<input type="hidden" name="codey" value="1" />
						<input type="image" name="su" src="{spUrl c=useforum a=code}" />
					{else}
						<p><input type="submit" class="links" value="提  交" /></p>
					{/if}
			    </form>
			</div>
            {/if}
			</div>
	</div>
	<script type="text/javascript" src="include/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    //用户名
	$('#uname').focusout(function(){
		$.getJSON("{spUrl c=user a=checkName}", { 'uname': $('#uname').val() }, function(json){
			$('#ex2result').html(json.message);
		}); 
	});
	//电子邮箱
	$('#email').focusout(function(){
		$.getJSON("{spUrl c=user a=checkEmail}", { 'email': $('#email').val() }, function(json){
			$('#ex3result').html(json.message);
		}); 
	});
    //密码
    $('#upass').focusout(function(){
        $.getJSON("{spUrl c=user a=checkPassword}", { 'upass': $('#upass').val() }, function(json){
            $('#ex4result').html(json.message);
        });
    });
    //确认密码
    $('#confirm_upass').focusout(function(){
        $.getJSON("{spUrl c=user a=checkRepeat}", { 'confirm_upass': $('#confirm_upass').val(), 'upass': $('#upass').val()}, function(json){
            $('#ex5result').html(json.message);
        });
    });
});
var isNotRun = true;
            $("#Click input[name='su']").click(function(){
                $("#Click input[name='codex']").val(event.offsetX);
                $("#Click input[name='codey']").val(event.offsetY);
                return isNotRun;
            });
</script>
{include file="footer.html"}