{include file="header.html" t=$info.uname}
<div id="page" xmlns="http://www.w3.org/1999/html">
	<div class="post">
			<h1 class="title">{$info.uname}
                {if "1" == $info.admit}<span class="identity" title="身份认证"/>ｉ</span>{/if}
                {if $info.openid}<img style="border:none;" src="{$siteurl}/template/common/connect_qq.gif" title="QQ绑定"/> {/if}
            </h1>
        <div class="sidebar">
            <div class="content" style="text-align: center;">
				{if avatar($info.avatar)}
					<img src ="{$info.avatar}" width="180" alt="{$info.uname}" />
				{else}
					<img src ="{$siteurl}/template/green/images/noavatar_big.gif" width="180" alt="{$info.uname}"/>
				{/if}
			</div>
            {if $info.admit == 1 && $info.admissiondata!=""}
            <div class="instruction">
                <p>认证资料：{$info.admissiondata}</p>
            </div>
            {/if}
            <h4>{($info.acl =="GBADMIN") ? "管理员" : ( ($info.forum =="0") ? "普通用户" : "版主")}
                <i>{($info.acl =="shield") ? "该用户已被屏蔽" : ""}</i> {if $info.homepage}<a href="{$info.homepage}">个人网站</a>{/if}
                <a href="#reply">给{("1" == $info.male) ? "他" :(("2" == $info.male)? "她" : "")}留言</a></h4>
            <p><a href="{spUrl c=user a=follower uid=$info.uid}">听众</a> <span id="exresult">{$info.fnum}</span>
            <button id="follow" name="follow" >
                {if $followed ==1}取消收听{else}收听{/if}
            </button></p>
            <p>{("1" == $info.male) ? "Boy" :(("2" == $info.male)? "Girl" : "")}  {$info.ctime|date_format:"%Y-%m-%d %H:%M"} 来到本站。</p>
            <p>生日 {$info.birth}</p>
            <p>UID {$info.uid}</p>
            <p>积分 {$info.credits}</p>
            <p>发帖数 {$info.post}</p>
            <p>精华数 {$info.digestpost}</p>
            <p>QQ {$info.qq}</p>
            <p>来自 {$info.live}</p>
            <p>{lastLogin uname=$info.uname}</p>
            <h4>个人简介</h4>
            <p>{$info.introduce}</p>
            {if "GBADMIN" == $smarty.session.userinfo.acl}
            <h4>以下内容仅管理员可见  <a href="{spUrl c=user a=editprofile uid=$info.uid}" >编辑用户</a></h4>
            <p>真实姓名 {$info.truename}
            <p>Email {$info.email}
            <p>联系电话 {$info.phone}
            <p>联系方式 {$info.address}
            <p>注册IP {$info.ip}
            <p>照片地址 {$info.photo}
                {/if}
		</div>
        <div class="profile">
            <h4>{$info.uname}的最新动态</h4>
            {foreach from=$topics item=result}
            {if $result.rid}
            <div class="new-reply">
                <p><b>评论{getUrl uname=$result.topic.uname}的<a href="{spUrl c=main a=view gid=$result.gid}">{$result.topic.title}</a></b></p>
                    {cutString str=$result.content length=100}
            <p class="line">
                   {theDate time=$result.ctime}
                    {if !$result.topic.title}<a href="{spUrl c=main a=view gid=$result.gid}">阅读全文</a>{/if}
             </p>
            </div>
            {elseif $result.gid}
            <div class="new-row">
                <p><b>新话题<a href="{spUrl c=main a=view gid=$result.gid}">{$result.title}</a></b></p>
                {cutString str=$result.contents length=100}
                <p class="line">
                    {theDate time=$result.ctime} <a href="{spUrl c=main a=viewforum id=$result.forum}">{$result.f.name}</a>
                    {if !$result.title}<a href="{spUrl c=main a=view gid=$result.gid}">阅读全文</a>{/if}
                </p>
            </div>
            {elseif $result.pgid}
            <div class="board">
                <p><b>给{getUrl uname=$result.to.uname}留言</b></p>
                {cutString str=$result.content length=100}
                <p class="line">
                    {theDate time=$result.ctime}
                </p>
            </div>
            {/if}
            {/foreach}
            <div class="scott">
                <p>
                    {if $pager}
                    {if $pager_topic.current_page != $pager.first_page}
                    <a href="{spUrl c=user a=profile uid=$info.uid page_topic=$pager_topic.prev_page}&page={$pager.current_page}">上一页</a>
                    {/if}
                    {if $pager_topic.current_page != $pager.last_page}
                    <a href="{spUrl c=user a=profile uid=$info.uid page_topic=$pager_topic.next_page}&page={$pager.current_page}">下一页</a>
                    {/if}
                    {/if}
                </p>
            </div>
            <a name="board"></a>
            <h4>{$info.uname}的留言列表{if $smarty.get.page}-第{$smarty.get.page}页{/if}</h4>
            <a id="gbk"></a>
            {foreach from=$results item=result}
            <div class="board">
                {if ("on"==$result.secret)}
                {if $info.uname == $smarty.session.userinfo.uname || "GBADMIN" == $smarty.session.userinfo.acl}
                <p>{$result.content}
                <p class="line"><i>Secret by <b><a href ="{spUrl c=user a=profile uname=$result.uname}">{$result.uname}</a>
                </b> on {$result.ctime|date_format:"%Y-%m-%d %H:%I:%S"}.</i>
                    {/if}
                    {else}
                <p>{$result.content}
                <p class="line"><i>Post by <b><a href ="{spUrl c=user a=profile uname=$result.uname}">{$result.uname}</a></b> on {theDate time=$result.ctime}.</i>
                    {/if}
                    {if ( "GBADMIN" == $smarty.session.userinfo.acl)}<a href ="{spUrl c=admin a=delpg pgid=$result.pgid}">删除</a>{/if}
            </div>
            {/foreach}
            <div class="scott">
                <p>
                    {if $pager}
                    {pager pager=$pager c="user" a="profile" idname="uid" id=$info.uid other="page_topic=`$pager_topic.current_page`"}
                    {/if}
                </p>
            </div>
            </div>
            <a name="reply"></a>
        <div class="entry" >
        	{if $smarty.session.userinfo.uname}
          <form action="{spUrl c=user a=rpost}" method="POST">
            <p>给{$info.uname}留言：<br /></p>
            <textarea name="content" style="width:400px;height:100px;visibility:hidden;"></textarea>
            <br/>
            <p>悄悄话　<input type="checkbox" name="secret"/></p>
            <input type="hidden" name="uid" value="{$info.uid}">
            <p><input type="submit" class="links" value="提  交" /></p>
        </form>
		{/if}
    </div>
</div>
</div>



<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            resizeType : 1,
            allowPreviewEmoticons : false,
            allowImageUpload : false,
            items : [
                'fontsize',  'forecolor',  'bold', 'emoticons', 'image','|','removeformat']
        });
    });
</script>
<script type="text/javascript" src="include/jquery-1.4.2.min.js"></script>
<script>
    $(document).ready(function(){
        //用户名
        $('#follow').click(function(){
            $.getJSON("{spUrl c=user a=follow}", { 'following': '{$info.uid}' }, function(json){
                if(json.message == 1){
                    $('#follow').html("取消收听");
                }else{
                    $('#follow').html("收听");
                }
                $('#exresult').html(json.follower);
            });
        });
    });
</script>
{include file="footer.html"}