{include file="subnavibar.html"}
<div id="page">
	<div class="post">
		<h2 class="title">身份认证信息{if $smarty.session.userinfo.acl == "GBADMIN"}-{$info.uname}{/if}</h2>
			<div class="entry"> {if "GBADMIN" == $smarty.session.userinfo.acl || $info.admit !=1}
				<form action="{spUrl c=user a=editnow uid=$smarty.get.uid}" method="POST">

                <p>请认真填写以下认证信息：</p>
				<p>真实姓名 <input type="text" name="truename" value="{$info.truename}"></p>
				<p>联系电话 <input type="text" name="phone" value="{$info.phone}"></p>
				<p id="vtop">联系方式 <textarea cols=45 rows=2 name="address">{$info.address}</textarea></p>
				<p id="vtop">照片地址 <textarea cols=45 rows=2 id="url2" name="photo">{$info.photo}</textarea><input type="button" id="image2" value="选择图片" />（网络图片或本地上传）</p>
                 <p id="vtop">认证资料 <textarea cols=45 rows=2 name="admissiondata">{$info.admissiondata}</textarea> 认证通过后将在个人页面显示。</p>

                <p><input type="submit" class="links" value="提  交" /></p>
			</form>                 {else}<p>恭喜你，身份验证已经通过！</p>{/if}
		</div>
	</div>
</div>
	<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
		<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
		<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
			<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#image2').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#url2').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url2').val(K('#url2').val() + url + '\n');
								editor.hideDialog();
							}
						});
					});
				});
			});
		</script>
{include file="footer.html"}