<!--<?php print <<<EOT
-->
</div>
<script language="JavaScript" src="$imgpath/global.js"></script><br />
<center class="gray">
$footer_ad<small>$wind_spend Time now is:$ft_time, $ft_gzip $db_icp<br />
Powered by <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> Code &copy; 2003-07 <a href="http://www.phpwind.com/" target="_blank"><b>PHPWind.com</b></a> Corporation</small>
</center><br />
<div id="footer">
	<span class="f12 fl">{$GLOBALS['db_foot']}</span><a href="$db_ceoconnect">Contact us</a> | <a href="wap/index.php">Wap</a> | <a href="javascript:scroll(0,0)">Top</a>
</div>
</body></html>
<!--
EOT;
?>-->
