<!--<?php 
print <<<EOT
-->
<div class="t3"><table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left">
			<img src="$imgpath/$stylepath/index/home.gif" align="absbottom" /> 
			<b><a href="$db_bfn">$db_bbsname </a> &raquo; 短消息</b>
		</td>
	</tr>
</table></div>
<div class="t" style="margin-top:15px;">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><td class="h"  colspan="7">&nbsp;【信箱状态：目前有短消息<b> $msgcount </b>条；最多可存消息 <b>$gp_maxmsg</b> 条；使用率 <b>$contl%</b> 】
<!--
EOT;
if($contl>100){
print <<<EOT
-->
已满
<!--
EOT;
}
print <<<EOT
-->
		</td>
	</tr>
	<tr class="tr2">
		<td><a href="$secondurl?action=receivebox">收件箱</a></td>
		<td><a href="$secondurl?action=sendbox">发件箱</a></td>
		<td width="20%">
			<a href="$secondurl?action=scout">消息跟踪</a>(<font color="red">可删除已发消息</font>)
		</td>
		<td><a href="$secondurl?action=write">写新消息</a> </td>
		<td><a href="$secondurl?action=banned">屏蔽列表</a> </td>
		<td><a style="cursor:pointer;" onclick="return checkset();">清空</a></td>
	</tr>
</table></div>
<!--
EOT;
if($action=='receivebox'){
print <<<EOT
-->
<form name="del" action="$secondurl" method="post">
<div class="t"><table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="6%" class="h" style="text-align:center">ID</a></td>
		<td width="*" class="h" style="text-align:center">标题</td>
		<td width="10%" class="h" style="text-align:center">发件人</td>
		<td width="10%" class="h" style="text-align:center">收件人</td>
		<td width="20%" class="h" style="text-align:center">时间</td>
		<td width="5%" class="h" style="text-align:center">已读</td>
		<td width="5%" class="h" style="text-align:center">选定</a></td>
	</tr>
<!--
EOT;
if($pmsgdb){ print <<<EOT
-->
	<tr class="tr2">
		<td colspan="7"><b>群发消息</b></td>
	</tr>
<!--
EOT;
foreach($pmsgdb as $key=>$message){
$key++;
$class=$key%2==0 ? "f_two" : "f_one";
print <<<EOT
-->
	<tr class="tr3">
		<td class="tac">$key</td>
		<td class="tac"><a href="$secondurl?action=readpub&mid=$message[mid]">$message[title]</a></td>
		<td class="tac">$message[from]</td>
		<td class="tac">群发消息</td>
		<td class="tac">$message[mdate]</td>
		<td class="tac">
<!--
EOT;
if($message['ifnew']){print <<<EOT
-->
			<font color="red">否</font>
<!--
EOT;
}else{print <<<EOT
-->
			是
<!--
EOT;
}print <<<EOT
-->
		</td>
		<td class="tac"><input type="checkbox" name="pdelid[]" value="$message[mid]" /></td>
	</tr>
<!--
EOT;
}} print <<<EOT
-->
	<tr class="tr2">
		<td colspan="7" style="border-top-color:#fff">
			<b>个人消息</b>&nbsp;
<!--
EOT;
if($contl>100){ print <<<EOT
-->
			<font color="red">[您的信箱已满，请删除一些，以查看最新消息]</font>
<!--
EOT;
} print <<<EOT
-->
		</td>
	</tr>
<!--
EOT;
foreach($msgdb as $key=>$message){
$key++;
$class=$key%2==0 ? "f_two" : "f_one";
print <<<EOT
-->
	<tr class="tr3">
		<td class="tac">$key</td>
		<td class="tac"><a href="$secondurl?action=read&mid=$message[mid]">$message[title]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[fromuid]">$message[from]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[touid]">$message[to]</a></td>
		<td class="tac">$message[mdate]</td>
		<td class="tac">
<!--
EOT;
if($message['ifnew']){print <<<EOT
-->
			<font color="red">否</font>
<!--
EOT;
}else{print <<<EOT
-->
			是
<!--
EOT;
}print <<<EOT
-->
		</td>
		<td class="tac"><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
	</tr>
<!--
EOT;
} print <<<EOT
-->
</table></div>
<center>
	<input class="btn" type="button" name="chkall" value="全选" onclick="CheckAll(this.form)" />
	<input class="btn" type="submit" value="提交" />
	<input name="towhere" type="hidden" value="receivebox" />
	<input name="action" type="radio" value="down" />下载
	<input name="action" type="radio" value="del" checked />删除
</center>
</form>
<!--
EOT;
}elseif($action=='sendbox'){ print <<<EOT
-->
<form name="del" action="$secondurl" method="post">
<div class="t"><table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="6%" class="h" style="text-align:center">ID</a></td>
		<td width="*" class="h" style="text-align:center">标题</td>
		<td width="10%" class="h" style="text-align:center">发件人</td>
		<td width="10%" class="h" style="text-align:center">收件人</td>
		<td width="20%" class="h" style="text-align:center">时间</td>
		<td width="5%" class="h" style="text-align:center">选定</a></td>
	</tr>
<!--
EOT;
foreach($msgdb as $key=>$message){
$key++;
print <<<EOT
-->
	<tr class="tr3">
		<td class="tac">$key</td>
		<td class="tac"><a href="$secondurl?action=readsnd&mid=$message[mid]">$message[title]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[fromuid]">$message[from]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[touid]">$message[to]</a></td>
		<td class="tac">$message[mdate]</td>
		<td class="tac"><input type="checkbox" name="delid[]" value="$message[mid]" /></td>	
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table></div>
<center>
	<input class="btn" type="button" name="chkall" value="全选" onclick="CheckAll(this.form)" />
	<input class="btn" type="submit" value="提交" />
	<input name="towhere" type="hidden" value="sendbox" />
	<input name="action" type="radio" value="down" />下载
	<input name="action" type="radio" value="del" checked />删除
</center>
</form>
<!--
EOT;
}elseif($action=='scout'){ print <<<EOT
-->
<form name="del" action="$secondurl" method="post">
<div class="t"><table width="100%" cellspacing="0" cellpadding="0">
	<tr>
		<td width="6%" class="h" style="text-align:center">ID</a></td>
		<td width="*" class="h" style="text-align:center">标题</td>
		<td width="10%" class="h" style="text-align:center">发件人</td>
		<td width="10%" class="h" style="text-align:center">收件人</td>
		<td width="20%" class="h" style="text-align:center">时间</td>
		<td width="7%" class="h" style="text-align:center">已读</td>
		<td width="5%" class="h" style="text-align:center">选定</a></td>
		<td width="6%" class="h" style="text-align:center">编辑</td>
	</tr>
<!--
EOT;
foreach($msgdb as $key=>$message){
$key++;
print <<<EOT
-->
	<tr class="tr3">
		<td class="tac">$key</td>
		<td class="tac"><a href="$secondurl?action=readscout&mid=$message[mid]">$message[title]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[fromuid]">$message[from]</a></td>
		<td class="tac"><a href="profile.php?action=show&uid=$message[touid]">$message[to]</a></td>
		<td class="tac">$message[mdate]</td>
		<td class="tac">
<!--
EOT;
if($message['ifnew']){print <<<EOT
-->
			<font color="red">否</font>
<!--
EOT;
}else{print <<<EOT
-->
			是
<!--
EOT;
}print <<<EOT
-->
		</td>
<!--
EOT;
if($message['ifnew']==0 && $message[to]!=$windid){
print <<<EOT
-->
		<td class="tac">--</td><td><br /></td>
<!--
EOT;
}else{ print <<<EOT
-->
		<td class="tac"><input type="checkbox" name="delid[]" value="$message[mid]" /></td>
		<td class="tac"><a href="message.php?action=write&edmid=$message[mid]">编辑</a></td>
<!--
EOT;
} print <<<EOT
-->
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table></div>
<center>
	<input class="btn" type="button" name="chkall" value="全选" onclick="CheckAll(this.form)" />
	<input class="btn" type="submit" value="提交" />
	<input name="towhere" type="hidden" value="scout" />
	<input name="action" type="radio" value="down" />下载
	<input name="action" type="radio" value="del" checked />删除
</center>
</form>
<!--
EOT;
}elseif(in_array($action,array('read','readsnd','readscout','readpub'))){
print <<<EOT
-->
<div class="t" style="width:50%">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><td class="h" colspan="2">查看信息</td></tr>
	<tr class="tr3">
		<th width="12%"><font color="#5A6633">作者:</font></th>
		<th>$msginfo[username]</th>
	</tr>
	<tr class="tr3">
	<th width="12%"><font color="#5A6633">标题:</font></th>
		<th>$msginfo[title]</th>
	</tr>
	<tr class="tr3">
		<th width="12%"><font color="#5A6633">时间:</font></th>
		<th>$msginfo[mdate]</th>
	</tr>
	<tr class="tr3">
		<th width="12%"><font color="#5A6633">内容:</font></th>
		<th>$msginfo[content]</th>
	</tr>
	<tr class="tr3">
		<th colspan="2">
			<font color="#5A6633">
			选项:
<!--
EOT;
if($action=="read"){print <<<EOT
-->
			[<a href="$secondurl?action=write&remid=$msginfo[mid]">回复</a>]
			[<a href="$secondurl?action=del&towhere=receivebox&delids=$msginfo[mid]">删除</a>]
			[<a href="message.php?action=receivebox">返回</a>]
<!--
EOT;
}if($action=='readpub'){print <<<EOT
-->
			[<a href="$secondurl?action=del&towhere=receivebox&pdelids=$msginfo[mid]">删除</a>]
			[<a href="message.php?action=receivebox">返回</a>]
<!--
EOT;
}if($action=="readsnd"){print <<<EOT
-->
			[<a href="$secondurl?action=write&touid=$msginfo[touid]">另发</a>]
			[<a href="$secondurl?action=del&towhere=sendbox&delids=$msginfo[mid]">删除</a>]
			[<a href="message.php?action=sendbox">返回</a>]
<!--
EOT;
}if($action=="readscout"){print <<<EOT
-->
			[<a href="$secondurl?action=write&touid=$msginfo[touid]">另发</a>]
			[<a href="$secondurl?action=del&towhere=scout&delids=$msginfo[mid]">删除</a>]
			[<a href="message.php?action=scout">返回</a>]
<!--
EOT;
}print <<<EOT
-->			</font>
		</th>
	</tr>
</table></div>
<!--
EOT;
}elseif($action=='write'){
print <<<EOT
-->
<script language="JavaScript" src="$db_bbsurl/$js_path"></script>
<form name="FORM" action="$secondurl" method="post" onsubmit="return checkCnt();">
<div class="t">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><td class="h" colspan="2"><b>短消息</b></td></tr>
	<tr class="tr3">
		<th width="20%"><b>用户名</b></th>
		<th><input class="input" type="text" name="pwuser" maxlength="100" size="73" $msgid /></th>
	</tr>
<!--
EOT;
if($frienddb){print <<<EOT
-->

	<tr class="tr3">
		<th width="20%">
			<b>好友消息群发</b>
		</th>
		<th>
<!--
EOT;
foreach($frienddb as $key=>$val){
print <<<EOT
-->
			<input type="checkbox" name="touid[]" value="$val[friendid]" />$val[username]
<!--
EOT;
}print <<<EOT
-->
			<br />
			<input class="btn" type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)" />
		</th>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3">
		<th><b>标题</b></th>
		<th><input class="input" type="text" name="msg_title" maxlength="75" size="73" value="$subject" /></th>
	</tr>
<!--
EOT;
if($msggd){
$rawwindid=addslashes($windid);
print <<<EOT
-->
	<tr class="tr3">
		<th><b>认证码</b></th>
		<th><input class="input" type="text" name="gdcode" size="8" />&nbsp;<img src="ck.php?windid=$rawwindid" align="absmiddle" onclick="this.src='ck.php?'" /></th>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3">
		<th valign="top"><b>内容</b></th>
		<th>
<!--
EOT;
require_once PrintEot('editor');
print <<<EOT
-->
		</th>
	</tr>
	<tr class="tr3">
		<th width="26%">&nbsp;</th>
		<th><input type="checkbox" name="ifsave" value="Y" />保存到发件箱中</th>
	</tr>
</table></div>
<center>
	按 Ctrl+Enter 直接提交   
	<input class="btn" type="submit" value="提 交" name="Submit" />
</center>
<!--
EOT;
if($edinfo){ print <<<EOT
-->
<input type="hidden" name="edmid" value="$edmid" />
<!--
EOT;
} print <<<EOT
-->
<input type="hidden" name="action" value="write" />
<input type="hidden" name="step" value="2" /></form>
<!--
EOT;
}elseif($action=='banned'){print <<<EOT
-->
<form name="FORM" action="$secondurl" method="post">
<input type="hidden" name="action" value="banned" />
<input type="hidden" name="step" value="2" />
<!--
EOT;
if($_G['msggroup']){print <<<EOT
-->
<div class="t">
<table width="100%"  cellspacing="0" cellpadding="0">
	<tr><td class="h" colspan="2"><b>短消息用户组设置</b></td></tr>
	<tr class="tr3">
		<th width="26%" valign="top">可设置只接收指定用户组的短消息，不设置接收所有用户组的短消息</th>
		<th><div>$usergroup</div></th>
	</tr>
</table></div>
<!--
EOT;
}print <<<EOT
-->
<div class="t">
<table width="100%"  cellspacing="0" cellpadding="0">
	<tr><td class="h" colspan="2"><b>屏蔽列表</b></td></tr>
	<tr class="tr3">
		<th width="26%" valign="top">屏蔽多个用户时用逗号 "," 隔开(如:张三,李四,王五等)。<br><br>当这些被添加的屏蔽用户给您发送短消息时将不予接收。</th>
		<th><textarea name="banidinfo" rows="5" cols="80">$banidinfo</textarea></th>
	</tr>
</table></div>
<center><input class="btn" type="submit" value="提 交" /></center></form>
<!--
EOT;
}print <<<EOT
-->
<br /><br />
<script language="JavaScript">
cnt = 0;
function checkCnt(){
	document.FORM.Submit.disabled=true;
	cnt++;
	if (cnt!=1){
		alert('Submission Processing. Please Wait');
		return false;
	}
}
ifcheck = true;
function CheckAll(form){
	for(var i=0;i<form.elements.length-2;i++){
		var e = form.elements[i];
		e.checked = ifcheck;
	}
	ifcheck = ifcheck == true ? false : true;
}
function checkset(){
	if(confirm("将删除收件箱和发件箱内所有消息，请确认！")){
		window.location=('$B_url/message.php?action=clear&ckcode=$verify');
	} else{
		return false;
	}
}
</script>
<!--
EOT;
?>-->