<!--<?php 
print <<<EOT
-->
<div class="t3">
<table width="100%" cellspacing="0" cellpadding="0" align="center">
<tr><td align="left"><img src="$imgpath/$stylepath/index/home.gif" align="absbottom" /> <b><a href="$db_bfn"> $db_bbsname</a> -> 快钱支付</b></td></tr>
</table></div>
<!--
EOT;
if($type=='user'){print <<<EOT
-->
<form name="frm" method="post" action="https://www.99bill.com/webapp/receiveMerchantInfoAction.do">
<input name="merchant_id" type="hidden" value="$merchant_id" />
<input name="orderid"  type="hidden" value="$orderid" />
<!--
EOT;
if($amount){ print <<<EOT
-->
<input name="amount"  type="hidden" value="$amount" />
<!--
EOT;
} print <<<EOT
-->
<input name="currency"  type="hidden" value="1" />
<input name="isSupportDES"  type="hidden" value="1" />
<input name="pname"  type="hidden" value="$windid" />
<!--
EOT;
if($commodity_info){ print <<<EOT
-->
<input name="commodity_info"  type="hidden"  value="$commodity_info" />
<!--
EOT;
} print <<<EOT
-->
<div class="t" style="margin-top:15px">
<table cellPadding="0" cellSpacing="0" width="100%" align="center">
	<tr><td class="h" colspan="2">通过快钱支付</td></tr>
	<tr class="tr3 tr">
		<th>订单金额:</th>
<!--
EOT;
if($amount){ print <<<EOT
-->
		<th>$amount&nbsp;元</th>
<!--
EOT;
}else{ print <<<EOT
-->
		<th><input type="text" name="amount" size="10" />&nbsp;元</th>
<!--
EOT;
} print <<<EOT
-->
	</tr>
	<tr class="tr3 tr">
		<th>支付人:</th>
		<th>$windid</th>
	</tr>
	<tr class="tr3 tr">
		<th>商品名称:</th>
<!--
EOT;
if($commodity_info){ print <<<EOT
-->
		<th>$commodity_info</th>
<!--
EOT;
}else{ print <<<EOT
-->
		<th><input type="text" name="commodity_info" /></th>
<!--
EOT;
} print <<<EOT
-->		
	</tr>
</table></div>
<div style="text-align:center;margin-bottom:25px"><input class="btn" type="submit" value="确定支付" /></div>
</form>
<!--
EOT;
}else{print <<<EOT
-->
<div class="t" style="margin-top:15px">
<table cellPadding="0" cellSpacing="0" width="100%" align="center">
	<tr><td class="h" colspan="2"> 您网上在线支付情况反馈如下：</td></tr>
	<tr class="tr3">
	  <th width="20%">定单号：</th>
	  <th>$orderidtrue</th>
	</tr>
	<tr class="tr3">
	  <th>支付金额：</th>
	  <th> $amount &nbsp; 元</th>
	</tr>
	<tr class="tr3">
	  <th>成功与否：</th>
	  <th> $succeed </th>
	</tr>
</table></div>
<!--
EOT;
}?>-->
