<!--<?php
print <<<EOT
-->
<div class="t3">
<table width="100%" cellspacing="0" cellpadding="0" align="center"><tr><td align="left">
<img src="$imgpath/$stylepath/index/home.gif" align="absbottom" /> 
<b><a href="$db_bfn">$db_bbsname </a> -&gt ЬћзгдЄРР</b></td></tr></table></div>
<div class="t" style="margin-top:15px;margin-bottom:25px">
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td class="h">ЬћзгдЄРР</td></tr>
<tr class="tr1"><th bgcolor="$forumcolorone">$preatc</th></tr>
</table>
</div>
<!--
EOT;
?>-->