<!--<?php
$special && require_once PrintEot($special);
print <<<EOT
-->
<style type="text/css">
.signature{height:expression(this.scrollHeight>parseInt(this.currentStyle.maxHeight)?this.currentStyle.maxHeight:"auto");}
</style>
<div class="t3" style="margin-top:8px"><table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><td>$msg_guide</td></tr>
</table></div>
$forumlist
<!--ads begin-->
<!--
EOT;
if($advertdb[text]){
print <<<EOT
-->
<div class="t" style="margin:15px auto"><table width="100%" cellspacing="0" cellpadding="0" align="center">
<!--
EOT;
$id=0;
foreach($advertdb[text] as $key => $value){
if($id==0){
print <<<EOT
-->
	<tr class="tr3">
<!--
EOT;
}$id++;print <<<EOT
-->
	<td width="25%" class="r_one black y-style">$value[code]</td>
<!--
EOT;
if($id==4){
$id=0;
print <<<EOT
-->
	</tr>
<!--
EOT;
}}
if($advertdb[text] && $id && $id<4){
for($i=$id;$i<4;$i++){print <<<EOT
-->
	<td width="25%" class="black"><br /></td>
<!--
EOT;
}print <<<EOT
-->
	</tr>
<!--
EOT;
}print <<<EOT
-->
</table></div>
<!--
EOT;
}print <<<EOT
-->
<!--ads end-->
<div class="t3"><table width="100%" align="center" cellspacing="0" cellpadding="0">
	<tr><td align="left">$pages</td><td align="right"><a href="post.php?action=reply&fid=$fid&tid=$tid"><img src="$imgpath/$stylepath/reply.png" /></a> <a href="post.php?fid=$fid" onMouseOver="mouseover_open('menu_post','td_post','4');"><img src="$imgpath/$stylepath/post.png" id="td_post" /></a></td>
	</tr>
</table></div>
<div id="menu_post" class="menu tac f14" style="display:none;"><ul style="width:100px;">
<!--
EOT;
if($forumset[allowsale]!=2){print <<<EOT
-->
	<li><a href="post.php?fid=$fid&special=4">交  易</a></li>
<!--
EOT;
}if($foruminfo['allowreward'] && $_G['allowreward']){ print<<<EOT
-->
	<li><a href="post.php?fid=$fid&special=3">悬  赏</a></li>
<!--
EOT;
}if($forumset[allowactive] && $gp_allowactive){ print <<<EOT
-->
	<li><a href="post.php?fid=$fid&special=2">活  动</a></li>
<!--
EOT;
}print <<<EOT
-->
	<li><a href="post.php?fid=$fid&special=1">投  票</a></li></ul>
</div>
<form name="delatc" action="masingle.php?action=delatc" method="post">
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="tid" value="$tid" />
<div class="t" style="margin-bottom:0px; border-bottom:0"><table cellspacing="0" cellpadding="0" width="100%">
	<tr><th class="h"><b>本页主题:</b> $subject</th><td class="h" style="text-align:right;"><span> <a class="fn" href="$db_bbsurl/simple/index.php?t{$tid}.html"> 打印</a> | <a class="fn" style="cursor:pointer;" onclick="Addtoie('$db_bbsurl/read.php?fid=$fid&tid=$tid','$db_bbsname_a--$favortitle')"> 加为IE收藏</a> | <a class="fn" href="profile.php?action=favor&job=add&tid=$tid">收藏主题</a> | <a class="fn" href="job.php?rd_previous=1&fid=$fid&tid=$tid&fpage=$fpage&goto=previous">上一主题</a> | <a class="fn" href="job.php?rd_previous=1&fid=$fid&tid=$tid&fpage=$fpage&goto=next">下一主题</a></span> </td>
	</tr>
	<tr><td></td></tr>
	<tr class="tr2"><td colspan="2" class="tar">
<!--
EOT;
if($admincheck || $SYSTEM['topped'] || ($groupid!=5 && $SYSTEM['typeadmin'])){
print <<<EOT
-->
		<a href="mawhole.php?action=headtopic&fid=$fid&seltid=$tid" title="置顶帖子">[置顶]</a> <a href="mawhole.php?action=digest&fid=$fid&seltid=$tid" title="精华帖子">[精华]</a> <a href="mawhole.php?action=lock&fid=$fid&seltid=$tid" title="锁定帖子">[锁定]</a> <a href="mawhole.php?action=pushtopic&fid=$fid&seltid=$tid" title="提前帖子">[提前]</a> <a href="mawhole.php?action=edit&fid=$fid&seltid=$tid" title="编辑标题颜色">[加亮]</a> <a href="mawhole.php?action=del&fid=$fid&seltid=$tid" title="删除帖子">[删除]</a> <a href="mawhole.php?action=move&fid=$fid&seltid=$tid" title="移动帖子">[移动]</a> <a href="mawhole.php?action=copy&fid=$fid&seltid=$tid" title="复制帖子">[复制]</a> <a href="mawhole.php?action=unite&fid=$fid&seltid=$tid" title="合并帖子">[合并]</a>
<!--
EOT;
}if($groupid!='guest' && $db_hackdb[toolcenter][2]){print <<<EOT
-->
		<a href="hack.php?H_name=toolcenter&action=use&tid=$tid">[使用道具]</a>
<!--
EOT;
}if($groupid!='guest' && $db_hackdb[blog][2]){
include_once(D_P.'data/bbscache/bg_config.php');
if($bg_ifopen){print <<<EOT
-->
		<a href="$bg_blogurl/user_index.php?action=bbsatc&tid=$tid" title="推送到我的博客" target="_blank">[推送到博客]</a>
<!--
EOT;
}}print <<<EOT
-->
		<br /></td>
	</tr>
	<tr><td></td></tr>
</table></div>
<!--
EOT;
$key=0;
foreach($readdb as $read) {
if($read){
$style=$key ? '' : 'style="border-top:0"';
$table_id=$a_id='';
if($db_ajaxcontent && $ajaxcheck && $read[pid]=='tpc'){
$table_id='id="ajaxtable"';
$a_id='id="a_ajax_'.$read[tid].'"';
}print <<<EOT
-->
$read[jupend]
<div class="t t2" $style><table cellspacing="0" cellpadding="0" width="100%" style="table-layout:fixed; border-top:0">
	<tr class="tr1"><th style="width:20%" rowspan="2" class="r_two"> <b>$read[author]</b>
		<div style="padding:10px 0;"><table width="98%" cellspacing="0" cellpadding="0" style="border:0">
			<tr><td class="tac" style="overflow:hidden; border:0;">$read[face]</td>
			</tr></table>
		</div>
		$read[medals]<br />
<!--
EOT;
if($read[honor]){print <<<EOT
-->
		<img src="$imgpath/$stylepath/read/rongyu.gif" alt="头衔：$read[honor]" align="texttop"/> $read[honor]<br />
<!--
EOT;
}print <<<EOT
-->
		<img src="$imgpath/$stylepath/level/$read[lpic].gif" />
<!--
EOT;
if($db_showonline && $read[thisvisit]+$db_onlinetime*1.5>$timestamp){print <<<EOT
-->
		<img src="$imgpath/$stylepath/read/online.gif" alt="该用户目前在线" />
<!--
EOT;
}elseif($db_showonline){print <<<EOT
-->
		<img src="$imgpath/$stylepath/read/offline.gif" alt="该用户目前不在线" />
<!--
EOT;
}print <<<EOT
-->
		<br />
		级别: <font color="#555555">{$read[level]}</font><br />
		精华:
<!--
EOT;
if($read[digests]){print <<<EOT
-->
		<a href="search.php?authorid=$read[authorid]&digest=1" target="_blank" class="s4 f9">$read[digests]</a>
<!--
EOT;
}else{print <<<EOT
-->
		<span class="s4">$read[digests]</span>
<!--
EOT;
}print <<<EOT
-->
		<br />
		发帖: <span class="s1 f9">$read[postnum]</span><br />
		$db_rvrcname: <span class="s2 f9">$read[aurvrc] $db_rvrcunit</span><br />
		$db_moneyname: <span class="s3 f9">$read[money] $db_moneyunit</span><br />
<!--
EOT;
if($db_ads){print <<<EOT
-->
		$db_creditname: <span class="s1 f9">$read[credit] $db_creditunit</span><br />
<!--
EOT;
}if($db_showcustom){
foreach($_CREDITDB as $k=>$v){
if(strpos($db_showcustom,",$k,")!==false){
!$customdb[$read[authorid]][$k] && $customdb[$read[authorid]][$k]=0;
print <<<EOT
-->
		$v[0]: <span class="s2 f9">{$customdb[$read[authorid]][$k]} $v[1]</span><br />
<!--
EOT;
}}}
if($customfield){
foreach($customfield as $k=>$val){
if($val[viewinread]){
if($val[viewright]&&$winduid!=$read[authorid]&&strpos(",$val[viewright],",",$groupid,")===false){
continue;
}$field="field_".(int)$val[id];
if($val[type]==3){
foreach(explode("\n",$val[options]) as $k=>$v){
list($k,$v)=explode('=',$v);
if($read[$field]==$k){
$read[$field]=$v;
}}}print <<<EOT
-->
		$val[title]:$read[$field]<br />
<!--
EOT;
}}}
if($db_showcolony && $colonydb[$read[authorid]]){
$v=$colonydb[$read[authorid]];print <<<EOT
-->
		{$db_hackdb[colony][0]}: <a href="hack.php?H_name=colony&cyid=$v[id]&job=view" target="_blank">$v[cname]</a><br />
<!--
EOT;
}if($db_ifonlinetime){print <<<EOT
-->
		在线时间:$read[ontime](小时)<br />
<!--
EOT;
}print <<<EOT
-->
		$read[loction]
		注册时间:{$read[regdate]}<br />
		最后登录:{$read[lastlogin]} </th>
		<th height="100%" class="r_one" valign="top" $table_id style="padding:5px 15px 0 15px; border:0;width:80%; overflow:hidden">
			<div class="tiptop">
<!--
EOT;
if($db_hackdb[blog][2] && $bg_ifopen){print <<<EOT
-->
			<a href="$bg_blogurl/blog.php?bbsuid=$read[authorid]" target="_blank"> <img src="$imgpath/$stylepath/read/blog.gif" align="absmiddle" alt="进入个人主页" /></a>
<!--
EOT;
}print <<<EOT
-->
			<a href="profile.php?action=show&uid=$read[authorid]"> <img src="$imgpath/$stylepath/read/profile.gif" align="absmiddle" alt="查看作者资料" /></a> <a href="message.php?action=write&touid=$read[authorid]"> <img src="$imgpath/$stylepath/read/message.gif" align="absmiddle" alt="发送短消息" /></a> <a href="post.php?action=quote&fid=$fid&tid=$tid&pid=$read[pid]&article=$read[lou]"><img src="$imgpath/$stylepath/read/quote.gif" align="absmiddle" alt="引用回复这个帖子" /></a> <a href="sendemail.php?action=tofriend&tid=$tid"><img src="$imgpath/$stylepath/read/emailto.gif" align="absmiddle" alt="推荐此帖" /></a> <a href="post.php?action=modify&fid=$fid&tid=$tid&pid=$read[pid]&article=$read[lou]"><img src="$imgpath/$stylepath/read/edit.gif" align="absmiddle" /></a>
<!--
EOT;
if($gp_allowreport){print <<<EOT
-->
			<a href="job.php?action=report&tid=$tid&pid=$read[pid]" target="_blank"><img src="$imgpath/$stylepath/read/report.gif" align="absmiddle" /></a>
<!--
EOT;
}if($read[payemail]){
list($pay,$payemail) = explode("\t",$read[payemail]);
if($payemail){
if($pay==1){
$payurl="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=$payemail&item_number=phpw*&currency_code=CNY&bn=phpwind&charset=$db_charset";
}elseif($pay==2){
$payurl="https://www.alipay.com/payto:$payemail?partner=8868";
}else{
$payurl="https://www.99bill.com/paylink/intialPaylinkIndexForw.do?pay=$payemail";
}print <<<EOT
-->
			<a href="$payurl" title="使用网上银行与该用户进行交易" target="_blank"> <img src="$imgpath/$stylepath/read/buy.gif" align="absmiddle" /></a>
<!--
EOT;
}}if($read[oicq]){print <<<EOT
-->
			<a href="http://wpa.qq.com/msgrd?V=1&Uin=$read[oicq]&Site=$db_bbsname&Menu=yes" title="QQ:$read[oicq]" target="_blank"><img src="$imgpath/$stylepath/read/qq.gif" align="absmiddle" /></a>
<!--
EOT;
}if($read[kf]){ print <<<EOT
-->
			<img src="$imgpath/$stylepath/read/53kf.gif" align="absmiddle" onclick="window.open('http://www.53kf.com/company.php?arg=$read[kf]&style=1&keyword=' + escape(document.referrer), '_blank','height=467,width=696,top=200,left=200,status=yes,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no')" style="cursor:pointer;" />
<!--
EOT;
}if($admincheck || ($groupid!=5 && $SYSTEM['modother'])){
print <<<EOT
-->
			&nbsp;<input type="checkbox" align="right" name="delatc[]" value="$read[pid]" title="删除选定回复" />
<!--
EOT;
if($key==0){print <<<EOT
-->
			<input class="btn" type="button" value="删除选定回复" onclick="javascript:document.delatc.submit();" />
<!--
EOT;
}}print <<<EOT
-->
			</div>
			<h4>$db_union[2]$read[icon]$read[subject]</h4>
<!--
EOT;
if($read['remindinfo']){print <<<EOT
-->
			<div class="tips" style="width:auto;">{$read[remindinfo][0]}
			<div align="center"> by：<font color="red">{$read[remindinfo][1]}</font></div></div>
			<div class="c"></div>
<!--
EOT;
}if($read['pic']){
foreach($read['pic'] as $pic){
if($pic){print <<<EOT
-->
<!--
EOT;
if($pic[3]){print <<<EOT
-->
			描述：$pic[3]<br />
<!--
EOT;
}print <<<EOT
-->
			图片： $pic[1]
<!--
EOT;
if($pic[2]){print <<<EOT
-->
			[<a href="job.php?action=deldownfile&pid=$read[pid]&tid=$tid&aid=$pic[0]&page=$page" onclick="return confirm('确定要删除此附件？');">删除</a>]
<!--
EOT;
}}}}print <<<EOT
-->
			<div class="tpc_content" $a_id>$read[content]</div>
<!--
EOT;
if($read['picurl']){
foreach($read['picurl'] as $k=>$picture){
if($picture){print <<<EOT
print <<<EOT
-->
			<br /><br />远程图片：{$picture[0]}
<!--
EOT;
if($picture[1]){ print <<<EOT
-->
			&nbsp;[<a href="job.php?action=deldownfile&pid=$read[pid]&tid=$tid&aid=$k&page=$page" onclick="return confirm('确定要删除此附件？');">删除</a>]
<!--
EOT;
}}}}if($read['downattach']){
foreach($read['downattach'] as $attach){
if($attach){print <<<EOT
-->
			<br /><br />
<!--
EOT;
if($attach[7]){print <<<EOT
-->
			描述：$attach[7]<br />
<!--
EOT;
}print <<<EOT
-->
			附件： <img src="$imgpath/$stylepath/file/$attach[5].gif" align="absbottom" /> <a href="job.php?action=download&pid=$read[pid]&tid=$tid&aid=$attach[0]" target="_blank"> <font color="red">$attach[1]</font></a> ($attach[2] K) 下载次数:$attach[3]
<!--
EOT;
if($attach[4]){print <<<EOT
-->
			需要{$db_rvrcname}:$attach[4]
<!--
EOT;
}if($attach[6]){print <<<EOT
-->
			[<a href="job.php?action=deldownfile&pid=$read[pid]&tid=$tid&aid=$attach[0]&page=$page" onclick="return confirm('确定要删除此附件？');">删除</a>]
<!--
EOT;
}}}}print <<<EOT
-->
		</th>
	</tr>
	<tr class="tr1 r_one">
		<th style="vertical-align:bottom ;padding-left:1.5%; border:0">
<!--
EOT;
if($read['reward']){
print <<<EOT
-->
		$read[reward]
<!--
EOT;
}if($read[mark]){
print <<<EOT
-->
		<div class="tips tal"><div class="tac">此帖被评分,最近评分记录</div> $read[mark]</div><div class="c"></div>
<!--
EOT;
}if($advertdb[article]){
$rand_ad=array_rand($advertdb[article]);
print <<<EOT
-->
		<div class="tips black" style="width:auto">{$advertdb[article][$rand_ad][code]}</div>
		<div class="c"></div>
<!--
EOT;
}if($read[signature]){print <<<EOT
-->
		<div><img src="$imgpath/$stylepath/sigline.gif" align="absbottom" /></div>
		<div class="signature" style="max-height:{$db_signheight}px;maxHeight:{$db_signheight}px; overflow:hidden;"><table width="100%"><tr><td>$read[signature]<td></tr></table></div>
<!--
EOT;
} print <<<EOT
-->
		<div class="tipad"><span style="float:right">
<!--
EOT;
if($admincheck || $_G['markable']){print <<<EOT
-->
			<a href="job.php?action=showping&tid=$tid&pid=$read[pid]&page=$page"><img src="$imgpath/$stylepath/read/rate.gif" alt="评分" /></a>
<!--
EOT;
}if($admincheck || ($groupid!=5 && $SYSTEM['banuser'])){print <<<EOT
-->
			<a href="masingle.php?action=banuser&fid=$fid&tid=$tid&pid=$read[pid]"> <img src="$imgpath/$stylepath/read/postban.gif" alt="禁言" /></a>
<!--
EOT;
}if($admincheck || ($groupid!=5 && $SYSTEM['shield'])){print <<<EOT
-->
			<a href="masingle.php?action=shield&fid=$fid&tid=$tid&pid=$read[pid]&page=$page"> <img src="$imgpath/$stylepath/read/shield.gif" alt="屏蔽单帖" /></a>
<!--
EOT;
}if($admincheck || ($groupid!=5 && $SYSTEM['remind'])){ print <<<EOT
-->
			<a href="masingle.php?action=remind&fid=$fid&tid=$tid&pid=$read[pid]&page=$page"> <img src="$imgpath/$stylepath/read/remind.gif" alt="提醒管理" /></a>
<!--
EOT;
}print <<<EOT
-->
			<a href="javascript:scroll(0,0)"><img src="$imgpath/$stylepath/read/top.gif" alt="顶端" /></a> </span>
			Posted: $read[postdate] | $read[ip] $read[ipfrom]
<!--
EOT;
if($read[lou]==0){print <<<EOT
-->
			<span><a class="s3" title="回复此楼" style="cursor:pointer;" onclick="postreply('回 楼主($read[author])');">[楼 主]</a></span>
<!--
EOT;
}else{print <<<EOT
-->
			<span><a class="s3" title="回复此楼" style="cursor:pointer;" onclick="postreply('回 #$read[lou]($read[author])');">$read[lou] 楼</a></span>
<!--
EOT;
}print <<<EOT
-->
		</div></th>
	</tr></table>
</div>
<!--
EOT;
$key=1;$db_union[2]='';}}print <<<EOT
-->
</form>
<div class="t3"><table cellspacing="0" cellpadding="0" width="100%" align="center">
	<tr><td align="left">$pages</td>
	<form name="jump" method="post">
		<td valign="center" align="right"><select onchange="Fjump(this.options[this.selectedIndex].value)"><option value="" selected>快速跳至</option>$forumcache</select></td></form>
	</tr>
	<tr><td style="padding-top: 12px;text-align: left;"><img src="$imgpath/$stylepath/index/home.gif" align="absbottom" /> <b><a href="$db_bfn">$db_bbsname</a> &raquo; <a href="thread.php?fid=$fid&page=$fpage">$foruminfo[name]</a></b> </td>
	<td style="padding-top: 12px;text-align: right;"><a href="post.php?action=reply&fid=$fid&tid=$tid"><img src="$imgpath/$stylepath/reply.png" /></a> <a href="post.php?fid=$fid" onMouseOver="mouseover_open('menu_post','td_post1','4');"><img src="$imgpath/$stylepath/post.png" id="td_post1" /></a></td>
	</tr>
</table></div>
<script language="JavaScript">
function Addtoie(value,title){
	window.external.AddFavorite(value,title);
}
function Fjump(value){
	if(value!=''){
		window.location=('$B_url/thread.php?fid='+value);
	}
}
function CopyCode(obj){
	var js = document.body.createTextRange();
	js.moveToElementText(obj);
	js.select();
	js.execCommand("Copy");
}
function postreply(txt){
	if(typeof document.FORM != "undefined"){
		document.FORM.atc_title.value = txt;
		document.FORM.atc_content.focus();
	}
}
</script>
<!--
EOT;
if($db_ajaxcontent && $ajaxcheck){print <<<EOT
-->
<script type="text/javascript" language="JavaScript" src="$imgpath/ajax.js"></script>
<script type="text/javascript" language="JavaScript" src="$imgpath/ajax_content.js"></script>
<script type="text/javascript">
AJAX_Init('ajaxtable');
</script>
<div>
<iframe id="AjaxFrame" name="AjaxFrame" width="0" height="0"></iframe>
<form id="AjaxForm" name="AjaxForm" action="ajax.php?" method="post" target="AjaxFrame">
	<input type="hidden" name="atc_content" />
	<input type="hidden" name="tid" />
	<input type="hidden" name="action" />
</form>
</div>
<!--
EOT;
}$fastpost && require_once PrintEot($fastpost);
?>-->