<!--<?php print <<<EOT
-->
<div class="t3"><table width="100%" cellspacing="0" cellpadding="0" align="center">
	<tr><td align="left"><img src="$imgpath/$stylepath/index/home.gif" align="absbottom" /> 
		<b><a href="$db_bfn">$db_bbsname </a> &raquo; 信息资料</b></td>
	</tr>
</table></div>
<!--
EOT;
if($windid==$userdb['username']){
print <<<EOT
-->
<div class="t" style="margin-top:15px">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr class="tr4" style="text-align:center;">
		<td><a href="profile.php">控制面板首页</a></td>
		<td><a href="profile.php?action=modify">编辑个人资料</a></td>
		<td><a href="profile.php?action=show&uid=$winddb[uid]">查看个人资料</a></td>
		<td><a href="profile.php?action=friend">好友列表</a></td>
		<td><a href="profile.php?action=permission">用户权限查看</a></td>
<!--
EOT;
if($_G['atclog']){print <<<EOT
-->
		<td><a href="profile.php?action=log">帖子操作记录</a></td>
<!--
EOT;
}print <<<EOT
-->
		<td><a href="userpay.php">{$db_currencyname}管理</a></td>
		<td><a href="profile.php?action=buy">特殊组购买</a></td>
		<td><a href="profile.php?action=favor">收藏夹</a></td>
		<td><a href="personal.php">我的主题</a></td>
	</tr>
</table></div>
<!--
EOT;
}print <<<EOT
-->
<div class="t" style="margin-top:15px;">
<table width="100%" cellspacing="0" cellpadding="0">
	<tr><td class="h" colspan="2">个人信息 (数字ID:{$userdb[uid]})</td></tr>
	<tr class="tr3"><th width="35%">用户名</th><th>$userdb[username] (
<!--
EOT;
if($userdb['thisvisit']+$db_onlinetime*1.5>$timestamp){print <<<EOT
-->
		<b>在线</b> 
<!--
EOT;
} else{print <<<EOT
-->
		<b>离线</b>
<!--
EOT;
}print <<<EOT
-->
		)--- <a href="search.php?authorid=$userdb[uid]">[用户主题]</a> 
		<a href="search.php?authorid=$userdb[uid]&digest=1">[精华主题]</a>
		<a href="search.php?authorid=$userdb[uid]&sch_area=2">[用户回复]</a>
		<a href="hack.php?H_name=toolcenter&action=user&uid=$userdb[uid]">[道具出售]</a>
		<a href="show.php?uid=$userdb[uid]">[个人展区]</a>
		</th>
	</tr>
<!--
EOT;
if($groupid==3){print <<<EOT
-->
	<tr class="tr3"><th>管理员操作</th>
		<th>
		[<a href="admin.php?adminjob=setuser&action=edit&uid=$userdb[uid]" target="_blank">编辑用户</a>]
		[<a href="admin.php?adminjob=banuser&username=$userdb[username]" target="_blank">会员禁言</a>]
		[<a href="admin.php?adminjob=superdel&a_type=article&action=deltpc&fid=-1&ifkeep=1&author=$userdb[username]&lines=30" target="_blank">删除主题</a>] 
		[<a href="admin.php?adminjob=superdel&a_type=article&action=delrpl&fid=-1&author=$userdb[username]&nums=30" target="_blank">删除回复</a>]
		</th>
	</tr>
<!--
EOT;
}if($systitle){print <<<EOT
-->
	<tr class="tr3"><th>系统头衔</th><th>$systitle
<!--
EOT;
if($userdb['groupid']=='6'){
if($bandb['type']==1){
print <<<EOT
-->
		(于 $bandb[startdate] 被 管理员 $bandb[admin] 禁言 $bandb[days] 天)
<!--
EOT;
}else{ print <<<EOT
-->
		(于 $bandb[startdate] 被 管理员 $bandb[admin] 永久禁言)
<!--
EOT;
}} print <<<EOT
-->
		</th>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3"><th>会员头衔</th><th>$memtitle</th></tr>
<!--
EOT;
if($md_ifopen){print <<<EOT
-->
	<tr class="tr3"><th>勋章</th>
		<th>
<!--
EOT;
if($userdb['medals']){
foreach($userdb['medals'] as $key=>$value){
if($_MEDALDB[$value][picurl]){print <<<EOT
-->
			<img src="$imgpath/medal/{$_MEDALDB[$value][picurl]}" alt="{$_MEDALDB[$value][name]}" /> 
<!--
EOT;
}}}else{print <<<EOT
-->
			该用户还没有获得勋章
<!--
EOT;
}print <<<EOT
-->
		</th>
	</tr>
<!--
EOT;
}if($windid==$manager || $groupid==3){print <<<EOT
-->
	<tr class="tr3"><th>最后登录IP</th><th>$logininfo[0]</th></tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3"><th>综合积分</th><th>$totalcredit</th></tr>
	<tr class="tr3"><th>发帖</th><th>$userdb[postnum]</th></tr>
	<tr class="tr3"><th>精华</th><th>$userdb[digests]</th></tr>
	<tr class="tr3"><th>$db_rvrcname</th><th>$userdb[rvrc] $db_rvrcunit</th></tr>
	<tr class="tr3"><th>$db_moneyname</th><th>$userdb[money] $db_moneyunit</th></tr>
<!--
EOT;
if($db_ads){print <<<EOT
-->
	<tr class="tr3"><th>$db_creditname</th><th>$userdb[credit] $db_creditunit</td></tr>
	<tr class="tr3"><th>如何获得$db_creditname</td><th>在文章页面使用<img src="$imgpath/$stylepath/read/emailto.gif" align=absmiddle alt="推荐此帖">功能将文章推荐给你的朋友你的{$db_creditname}会自动增加<br>或者将下面的链接发给你的朋友, 当你的朋友点击下面链接的时候你的{$db_creditname}也会自动增加<br>$db_bbsurl/?a=$userdb[username] 或<br> $db_bbsurl/?u=$userdb[uid]</td></tr>
<!--
EOT;
}foreach($_CREDITDB as $key => $value){
$usercredit = $creditdb ? $creditdb[$key][1] : 0;
print <<<EOT
-->
	<tr class="tr3"><th>$value[0]($value[2])</th>
		<th>$usercredit $value[1]</th></tr>
<!--
EOT;
}if($customfield){
foreach($customfield as $key=>$val){
if($val[viewright]&&$winduid!=$userdb[uid]&&strpos(",$val[viewright],",",$groupid,")===false){
continue;
}$field="field_".(int)$val[id];
if($val[type]==3){
foreach(explode("\n",$val[options]) as $k=>$v){
list($k,$v)=explode('=',$v);
if($userdb[$field]==$k){
$userdb[$field]=$v;
}}}print <<<EOT
-->
	<tr class="tr3">
		<th>$val[title]</th>
		<th>$userdb[$field]</th>
	</tr>
<!--
EOT;
}}if($userdb['honor']){print <<<EOT
-->
	<tr class="tr3"><th>自定义头衔</th><th>$userdb[honor]</th></tr>
<!--
EOT;
}if($colonydb){print <<<EOT
-->
	<tr class="tr3">
		<th>加入的{$db_hackdb[colony][0]}</th>
		<th>
<!--
EOT;
foreach($colonydb as $key=>$value){print <<<EOT
-->
		<a href="hack.php?H_name=colony&cyid=$value[id]&job=view&id=$value[id]" target="_blank">$value[cname]</a> 
<!--
EOT;
}print <<<EOT
-->
		</th>
	</tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3"><th>头像</th><th>$usericon</th></tr>
	<tr class="tr3"><th>Email</th><th>$sendemail<br /></th></tr>
	<tr class="tr3"><th>OICQ:</th><th>$userdb[oicq]<br /></th></tr>
	<tr class="tr3"><th>ICQ:</th><th>$userdb[icq]<br /></th></tr>
	<tr class="tr3"><th>53kf:</th><th>$userdb[kf]<br /></th></tr>
	<tr class="tr3"><th>Yahoo:</th><th>$userdb[yahoo]<br /></th></tr>
	<tr class="tr3"><th>Msn:</th><th>$userdb[msn]<br /></th></tr>
	<tr class="tr3"><th>性别</th><th>
<!--
EOT;
if($userdb[gender]==1){print <<<EOT
-->
		男
<!--
EOT;
}elseif($userdb[gender]==2){print <<<EOT
-->
		女
<!--
EOT;
}else{print <<<EOT
-->
		保密
<!--
EOT;
}print <<<EOT
-->
		</th>
	</tr>
	<tr class="tr3"><th>生日</th><th>$userdb[bday]</th></tr>
	<tr class="tr3"><th>个人主页</th>
		<th><a href="$userdb[site]" target="_blank">$userdb[site]</a></th>
	</tr>
	<tr class="tr3"><th>签名</th>
		<th>$tempsign<br /></th>
	</tr>
	<tr class="tr3"><th>自我简介<br>--少于100字节</th>
		<th>$tempintroduce<br /></th>
	</tr>
	<tr class="tr3"><th>注册时间</th><th>$show_regdate</th></tr>
<!--
EOT;
if($db_ifonlinetime){print <<<EOT
-->
	<tr class="tr3"><th>在线时间</th><th>$userdb[onlinetime] 小时</th></tr>
<!--
EOT;
}print <<<EOT
-->
	<tr class="tr3"><th>平均每日发帖</th><th>{$averagepost}篇 (今日{$userdb[todaypost]}篇)</th></tr>
	<tr class="tr3"><th>最后登录</th><th>$lasttime </th></tr>
		$printlastpost
	<tr class="tr3"><th>相关动作</th>
		<th><a href="message.php?action=write&touid=$userdb[uid]">
			<img src="$imgpath/$stylepath/read/message.gif" /></a>
			<a href="sendemail.php?username=$rawauthor">
			<img src="$imgpath/$stylepath/read/email.gif" /></a>
		</th>
	</tr>
</table></div>
<div style="margin-bottom:25px;text-align:center;">
<input class="btn" type="button" value="返 回" onclick="javascript:history.go(-1)" /></div>
<!--
EOT;
?>-->