{include file="subnavibar.html"}
<div id="page">
    <div class="post">
        <div class="lists">
            <h4>系统信息</h4>
            <p> PHP版本：{$smarty.const.PHP_VERSION}
            <p>MySql版本：{$ms_ver}
            <p>服务器环境：{$server}
            <p>操作系统：{$smarty.const.PHP_OS}
            <p>最大上传：{$uploadFile_maxsize}
            <p>图像处理：{$gd}
            <p>安全模式：{$safeMode}
            </div>
        <div class="lists-right">
             <h4>Useforum信息</h4>
            <p>版本：{$useforumversion}
            <p>授权：GPLv2开源授权协议
            <p>开发：<a href="http://www.gw269.com/">GW</a>
            <p>鸣谢：<a href="http://zy945.com/">ZY</a>　<a href="http://shansing.com/">闪闪的星</a>
            <p>采用　<a href="http://www.speedphp.com/">SpeedPHP开源框架</a>
        <p>网站　<a href="http://u.gw269.com/">技术支持论坛</a>
        </div>
        </div>
	</div>
</div>
{include file="footer.html"}