{include file="subnavibar.html"}
	<div id="page">
		<div class="post">
		<h2 class="title">编辑菜单-{$info.title}</h2>
			<div class="entry">
			
			
		<form action="" method="POST">
			<p>标题：<input type="text" name="title"  value="{$info.title}"></p>
			<p>地址：<input type="text" name="url" value="{$info.url}">
			<p>打开：<select name="target" style="width:100px;">
                <option value="1" {($info.target ==1) ? "selected=selected" : ""} >新窗口</option>
                <option value="0" {($info.target ==0) ? "selected=selected" : ""} >当前窗口</option>
            </select>
			<p><input type="submit" class="links" value="提  交" /></p>			
		</form>
		</div>
	</div>
{include file="footer.html"}
<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
<script>
KindEditor.ready(function(K) {
				var colorpicker;
				K('#colorpicker').bind('click', function(e) {
					e.stopPropagation();
					if (colorpicker) {
						colorpicker.remove();
						colorpicker = null;
						return;
					}
					var colorpickerPos = K('#colorpicker').pos();
					colorpicker = K.colorpicker({
						x : colorpickerPos.x,
						y : colorpickerPos.y + K('#colorpicker').height(),
						z : 19811214,
						selectedColor : 'default',
						noColor : '无颜色',
						click : function(color) {
							K('#color').val(color);
							colorpicker.remove();
							colorpicker = null;
						}
					});
				});
				K(document).click(function() {
					if (colorpicker) {
						colorpicker.remove();
						colorpicker = null;
					}
				});
			});
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#image1').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#url1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url1').val(url);
								editor.hideDialog();
							}
						});
					});
				});
			});
</script>
