{include file="header.html" t="搜索"}
	<div id="page">
		<div class="post">
			<h2 class="title">高级搜索</h2>
			<div class="entry">
				<form action="" method="POST" >
					<p><input name="search" type="search" style="width: 400px;" results=s placeholder="关键词" value="{$smarty.post.search}"></p>
                    <p>作　　者：<input name="author" type="text" value="{$smarty.post.author}"></p>
                    <p>截止日期：<input name="date" type="date"  value="{$smarty.post.date}"></p>
                    <p>版　　块：
                        <select name="forum">
                            <option value="0">不限</option>
                            {foreach from=$forumlist item=result}
                            <option value="{$result.id}" {if $result.id == $smarty.post.forum} selected ="selected" {/if}>{$result.name}</option>
                            {/foreach}
                        </select>
                    </p>
					<p><input type="submit" class="links" value="搜  索" /></p>
				</form>
			</div>
{if $result1}
	<table width="100%" class="item_list">
		<thead>
			<th width="500" ><b>标题</b></th>
			<th width="100"><b>作者</b></th>
            <th width="100"><b>版块</b></th>
			<th width="130" class="tdcenter"><b>发布时间</b></th>
			<th width="130" class="tdcenter"><b>最后评论</b></th>
			<th width="39" class="tdcenter" ><b>评论</b></th>
			<th width="59" class="tdcenter" ><b>阅读</b></th>
		</thead>
		<tbody>
		{foreach from=$result1 item=result}
			<tr>
				<td>
				{if $result.digest == "1"}
				<img src="{$siteurl}/template/green/images/digest.gif" />
				{/if}
				<a href="{spUrl c=main a=view gid=$result.gid}">{$result.title}</a></td>
				<td class="tdcenter"><a href="{spUrl c=user a=profile uname=$result.uname}">{$result.uname}</a> </td>
                <td class="tdcenter"><a href="{spUrl c=main a=viewforum id=$result.forum}" style="font-size: 12px;">{$result.f.name}</a></td>
				<td class="tdcenter">{theDate time=$result.ctime}</td>
				<td class="tdcenter">{theDate time=$result.rtime}</td>
				<td class="tdcenter">{$result.replynum}</td>
				<td class="tdcenter">{$result.view}</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
	{/if}
	{if !$result1 && isset($smarty.post['search'])}<P>什么也没找到……</P>{/if}
	</div>
</div>
{include file="footer.html"}