{include file="subnavibar.html"}
<div id="page">
	<div class="post">
		<h2 class="title">编辑资料{if $smarty.session.userinfo.acl == "GBADMIN"}-{$info.uname}{/if}</h2>
			<div class="entry">
				<form action="{spUrl c=user a=editnow uid=$smarty.get.uid}" method="POST">
				{if avatar($info.avatar)}
					<img src ="{$info.avatar}" width="180" title="{$info.uname}" align="right"/>
				{else}
					<img src ="{$siteurl}/template/green/images/noavatar_big.gif" width="180" title="{$info.uname}" align="right">
				{/if}
				<p>性别
				<select name="male" style="width:60px;">
					<option value="1" {($info.male ==1) ? "selected=selected" : ""} >男</option>
					<option value="2" {($info.male ==2) ? "selected=selected" : ""} >女</option>
				</select>
				{if ( "GBADMIN" == $smarty.session.userinfo.acl )}
					认证
					<select name="admit" style="width:120px;">
						<option value="1" {($info.admit ==1) ? "selected=selected" : ""} >已身份认证</option>
						<option value="0" {($info.admit ==0) ? "selected=selected" : ""} >未身份认证</option>
					</select> </p>
                    <p>积分 <input type="text"  name="credits" value="{$info.credits}">积分由系统技术生成请慎重修改。 </p>
					{if  1 != $info.uid}</a>
						<p>组别 <input type="text" name="acl" value="{$info.acl}">管理员 GBADMIN，普通用户 GBUSER。屏蔽 shield。 </p>
					{/if}
				{/if}
				<p>来自 <input type="text"  name="live" value="{$info.live}"></p>
				<p>QQ <input type="text" name="qq" value="{$info.qq}"></p>
				<p>生日 <input type="date" name="birth" value="{$info.birth}">例如：2011-01-01</p>
                <p>网站 <input type="text" name="homepage" value="{$info.homepage}"></p>
				<p>头像 <input id="url1" type="text" name="avatar" value="{$info.avatar}" /> <input type="button" id="image1" value="选择图片" />（网络图片或本地上传）</p>
				<p><span id="vtop">介绍 </span><textarea style="width: 300px;" rows=3 name="introduce">{$info.introduce}</textarea></p>
				<p><span id="vtop">签名 </span><textarea style="width: 300px;" rows=3 name="signature">{$info.signature}</textarea></p>
                <p><input type="submit" class="links" value="提  交" /></p>
			</form>
		</div>
	</div>
</div>
	<link rel="stylesheet" href="{$siteurl}/include/editor/themes/default/default.css" />
		<script charset="utf-8" src="{$siteurl}/include/editor/kindeditor-min.js"></script>
		<script charset="utf-8" src="{$siteurl}/include/editor/lang/zh_CN.js"></script>
			<script>
			KindEditor.ready(function(K) {
				var editor = K.editor({
					allowFileManager : true
				});
				K('#image1').click(function() {
					editor.loadPlugin('image', function() {
						editor.plugin.imageDialog({
							imageUrl : K('#url1').val(),
							clickFn : function(url, title, width, height, border, align) {
								K('#url1').val(url);
								editor.hideDialog();
							}
						});
					});
				});
			});
		</script>
{include file="footer.html"}