<!--<?php
include_once PrintEot('left');
if($a_type=='checkemail'){print <<<EOT
-->
<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
<tr><td class=head colspan=2><span class=bold><b>提示信息</b></span></td></tr>
<tr><td class=b><br>
<ul>
需要email验证的用户如果无法通过email激活帐号，管理员可使用此功能激活用户帐号
</ul>
<br></td></tr></table><br>
$pages
<form action=$basename method=post>
<input type=hidden name=action value='check'>
<table width=98% align=center cellspacing=0 cellpadding=0 class=i_table>
<tr><td><table width=100% cellspacing=1 cellpadding=3>
<tr><td class=head colspan=6><span class=bold>需要验证的用户</span></td></tr>
<tr class=head_2 align=center><td width='6%'>ID</td>
<td width='20%'>用户名</td><td width='25%'>注册时间</td>
<td>Email</td><td width='6%'></td>
</tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($memdb_E as $mem){
$num++;
print <<<EOT
-->
<tr class=b>
<td align=center>$num</td>
<td align=center>
<a href="$admin_file?adminjob=setuser&action=edit&uid=$mem[uid]">$mem[username]</a></td>
<td align=center>$mem[regdate]</td>
<td align=center>$mem[email]</td>
<td align=center><input type='checkbox' name='yzmem[]' value=$mem[uid]></td></tr>
<!--
EOT;
}print <<<EOT
-->
</table></td></tr></table><br>
<center><input type=radio name="type" value=del>删除<input type=radio name="type" checked='checked' value=pass>通过 &nbsp; <br><br>
<input type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)">
<input type="submit" name="hello" value="提 交"></center></form>
<!--
EOT;
}elseif($a_type=='checkreg'){print <<<EOT
-->
<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
<tr><td class=head colspan=2><b>提示信息</b></td></tr>
<tr><td class=b><br>
<ul>
此功能可将未验证会员组的用户编入普通会员组
</ul>
<br></td></tr></table>
$pages
<form action=$basename method=post>
<input type=hidden name=action value='check'>
<table width=98% align=center cellspacing=0 cellpadding=0 class=i_table>
<tr><td><table width=100% cellspacing=1 cellpadding=3>
<tr><td class=head colspan=6><span class=bold>需要验证的用户</span></td></tr>
<tr class=head_2 align=center>
<td width='6%'>ID</td>
<td width='15%'>用户名</td>
<td width='15%'>注册时间</td>
<td width='15%'>Email</td>
<td>注册原因</td>
<td width='6%'></td>
</tr>
<!--
EOT;
$num=($page-1)*$db_perpage;
foreach($memdb_R as $mem){
$num++;
print <<<EOT
-->
<tr class=b align=center>
<td>$num</td>
<td align=center>
<a href="$admin_file?adminjob=setuser&action=edit&uid=$mem[uid]">$mem[username]</a></td>
<td>$mem[regdate]</td>
<td>$mem[email]</td>
<td><table style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'><tr><td>$mem[regreason]</td></tr></table></td>
<td><input type='checkbox' name='yzmem[]' value=$mem[uid]></td>
</tr>
<!--
EOT;
}print <<<EOT
-->
</table></td></tr></table>
<br>
<center><input type=radio name="type" value=del>删除<input type=radio name="type" checked='checked' value=pass>通过 &nbsp; <br><br>
<input type="button" name="chkall" value="全 选" onclick="CheckAll(this.form)">
<input type="submit" name="hello" value="提 交"></center></form>
<!--
EOT;
}include_once PrintEot('adminbottom');
?>-->