<!--<?php print <<<EOT
--><br><br></td>
    <td align='left' background="$imgpath/card/tbg2.gif" width="9">&nbsp;</td>
  </tr>
</table>
  
<table cellpadding=0 cellspacing=0 width='98%' align=center>
  <tr> 
    <td width="1" colspan=4 align="left" valign="bottom"><small><font color="#999999"><img src="$imgpath/card/b1.gif"><br>
      </font></small></td>
    <td width="100%" align="center" background="$imgpath/card/bbg.gif"><a href='$db_ceoconnect'></a><small><font color="#999999">Code &copy; 2003-05 <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> 
      <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> 
      Skin 
      by <a href="http://style.phpwind.net/" target="_blank"><b>Wookoo</b></a>
      <br>
      $wind_spend $ft_gzip</font></small></td>
    <td width="1" align="right" valign="bottom"><small><font color="#999999"><img src="$imgpath/card/b2.gif"></font></small></td>
  </tr>
</table>
</body></html>
<!--
EOT;
?>-->
