<!--<?php
include_once PrintEot('left');
print <<<EOT
-->
<table width=98% align=center cellspacing=1 cellpadding=3 class=i_table>
<tr><td class=head colspan=2><b>提示信息</b></td></tr>
<tr><td class=b><br>
<ul>
1.自定义积分将加入论坛评分，积分排行榜<br><br>2.用户可以根据特定需要增加自定义积分
</ul>
<br></td></tr></table><br>

<!--
EOT;
if (empty($action)){
print <<<EOT
-->
<form action="$basename" method=post>
<input type=hidden name=action value='delete'>
<table width=98% align=center cellspacing=0 cellpadding=0 class=i_table>
<tr><td><table width=100% cellspacing=1 cellpadding=3>
<tr><td class=head colspan=6><b>自定义积分列表</b></td></tr>
<tr align=center class=head_2><td width=5%>ID</td><td>名称</td><td>单位</td><td>说明</td>
<td width=5%>编辑</td><td width=5%>删除</td></tr>
<!--
EOT;
while($creditdb=$db->fetch_array($credit)){
print <<<EOT
-->
<tr align=center class=b><td >$creditdb[cid]</td><td>$creditdb[name]</td><td>$creditdb[unit]</td>
<td>$creditdb[description]</td>
<td><a href="$basename&action=edit&cid=$creditdb[cid]">编辑</a></td>
<td><input type=checkbox name=delcid[] value='$creditdb[cid]'></td></tr>

<!--
EOT;
}
print <<<EOT
-->
</table></td></tr></table>
<br><center><input type='button' name='chkall' value='全 选' onclick='CheckAll(this.form)'>
<input type=submit value='提 交'>
</center></form>
<!--
EOT;
} elseif($action=='edit' || $action=='newcredit'){
print <<<EOT
-->
<br><br><form action="$basename" method=post>
<input type=hidden name=action value='$action'>
<input type=hidden name=cid value='$cid'>
<input type=hidden name=step value=2>
<table width=60% align=center cellspacing=0 cellpadding=0 class=i_table>
<tr><td><table width=100% cellspacing=1 cellpadding=3>
<tr><td class=head colspan=2><b>自定义积分</b></td></tr>
<tr class=b><td width=30%  align=center>名称</td>
<td><input type=text name='name' size=40 value='$creditdb[name]'></td></tr>
<tr class=b><td  align=center>说明</td>
<td><input type=text name='description' size=40 value='$creditdb[description]'></td></tr>
<tr class=b><td align=center>单位</td>
<td><input type=text name='unit' size=5 value='$creditdb[unit]'></td></tr>
</table></td></tr></table>
<br><center><input type=submit value='提 交'></center></form>
<!--
EOT;
}
include_once PrintEot('adminbottom');
?>
-->