<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Useforum 1.2.1 安装程序</title>
<link href="template/install/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="page">
	<div id="logo">
		<h1><img src="./template/green/images/logo.png"/>安装程序</h1>
	</div>
	<hr />
	<!-- end #logo -->
	<div id="content">
		<div class="post">
			<h2 class="title">第三步，完成安装</h2>
			<p class="meta"><em>{ 您的Useforum已经安装成功，请立即删除install.php。}</em></p>
			<div class="entry">
				<p class="links"><input type="button" class="button" value="进入系统" onclick="javascript:window.location.href='./index.php'"></p>
			</div>
		</div>
	</div>
	<!-- end #content -->
</div>
<!-- end #page -->
</body>
</html>