{include file="subnavibar.html"}
<div id="page">
    <div class="post">
        <h2 class="title">导航设置</h2>
        <div class="entry">
            <form action="{spUrl c=admin a=reordermenu}" method="POST">
{foreach from=$results item=result}
    <p><input name="{$result.mid}" type='number' value="{$result.order}" style="width:40px;">
        <a href="{$result.url}" target="_blank"> {$result.title}</a>
        <span>
            <a href="{spUrl c=admin a=editmenu mid=$result.mid}" >编辑</a>
            <a href="{spUrl c=admin a=delmenu mid=$result.mid}">删除</a>
           设置为 <a href="{spUrl c=admin a=hidden mid=$result.mid}">
                {($result.hidden == 0)? "隐藏" : "显示"}
            </a>
        </span>
    </p>
{/foreach}
            <p><input type="submit" class="links" value="重新排序" /></p>	</form>
        </div>
        <br />
        <h2 class="title">添加菜单</h2><br />
        <div class="entry">
			<form action="{spUrl c=admin a=addmenu}" method="POST">
                <p>标题：<input type="text" name="title"></p>
                <p>地址：<input type="text" name="url" ></p>
                <p><input type="submit" class="links" value="提  交" /></p>
			</form>	
		</div>
    </div>
</div>
{include file="footer.html"}