{include file="subnavibar.html"}
	<div id="page">
		<div class="post">
			<h2 class="title">API设置</h2>
            <div class="instruction">
                <p>你可以设置API接口参数，目前Useforum支持QQ登录。</p>
            </div>
			<div class="entry">
                <form action="{spUrl c=admin a=update_qq}" method="POST">
                    <p>当前配置信息：</p>
                    <p><textarea rows=5 style="width: 800px;">{$contents}</textarea></p>
                    <p>如需生成或更新配置文件，请填写以下信息，APP ID和APP KEY请到QQ互联官方网站申请。生成配置文件后以下表单会清空。</p>
                    <p>APP ID：<input type="text" name="appid" style="width:300px;"></p>
                    <p>APP KEY：<input type="text" name="appkey" style="width:300px;"></p>
                    <p>站点地址：<input type="text" name="callback" style="width:500px;">含"http://"和末尾"/"</p>
                    <p>请求授权列表</p>
                    {$scope = array("get_user_info","add_share","list_album","add_album","upload_pic","add_topic","add_one_blog","add_weibo","check_page_fans","add_t","add_pic_t","del_t","get_repost_list","get_info","get_other_info","get_fanslist","get_idolist","add_idol","del_idol","get_tenpay_addr")}
                     <p>
                         {foreach from=$scope item=val}
                             <input type="checkbox" name="scope[]" value="{$val}" id="{$val}"/><label for="{$val}">{$val}</label>
                         {/foreach}
                         <input type='button' value='全选' id="choiceAll"/>
                     </p>
                    <p><input type="submit" class="links" value="生成配置文件" /></p>
                </form>
	</div>
</div>
	{include file="footer.html"}
        <script type="text/javascript">
            var choiceAll = document.getElementById("choiceAll");
            choiceAll.onclick = function(){
                var checkBox = document.getElementsByName("scope[]");
                for(var i = 0;i < checkBox.length;i ++){
                    checkBox[i].checked = "checked";
                }
            }
        </script>