{include file="header.html"}
<div id="page">
    <div class="post">
        <h2 class="title">找回密码{if $smarty.get.step == 2}-{$smarty.get.uname}{/if}</h2>
        {if $smarty.get.step == 1}
        <div class="entry">
            <form action="{spUrl c=user a=findpwd step=1}" method="POST">
                <p>用户名 ：<input name="uname" type='text' required="required"></p>
                <p><input type="submit" class="links" value="提  交" /></p>
            </form>
            {else}
            <div class="instruction">
                <p>若提示错误，请仔细回忆你的提问与答案，并检查地址栏中uname=后是否有你的用户名。</p>
            </div>
            <form action="{spUrl c=user a=findpwd uname=$smarty.get.uname step=2}" method="POST">
                <p>电子邮箱 ：<input name="email" type='email' required="required">请填写注册时提供的电子邮箱</p>
                <p>安全提问1：{$q.q1}</p>
                <p>问题答案1：<input name="a1" type="text"></p>
                <p>安全提问1：{$q.q2}</p>
                <p>问题答案1：<input name="a2" type="text"></p>
                <p><input type="submit" class="links" value="提  交" /></p>
            </form>
            {/if}
        </div>
    </div>
</div>
<head><title>个人设置-{$sitename}</title></head>
{include file="footer.html"}