<!--<?php print <<<EOT
-->
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center>
	<tr>
		<td align=left>
			<img src='$imgpath/$stylepath/index/home.gif' align=absbottom> 
			<b><a href='$db_bfn'>$db_bbsname </a> -> 博客</b>
		</td>
	</tr>
</table>
<br>

<table width='$tablewidth' align="center" cellpadding="1" cellspacing="0">
	<tr>
		<td width="25%" valign="top">
			<table width="100%" align="center" cellpadding=3 cellspacing=1 $i_table>
				<tr><td class=head colspan=2>功能说明</td></tr>
				<tr class="f_one">
					<td>
						<a href="$bg_blogurl/user_index.php" target="_blank"><b>博客管理</b></a><br>
						如果您已经拥有论坛帐号，直接登录博客即可 <a href="$basename&action=activation" target="_blank"><font color="blue">激活您的博客帐号</font></a>，开始建设自己的个人博客主页，体验功能强大的博客系统
						<br><br>
						<b><a href="$bg_blogurl/user_index.php?action=bbsatc" target="_blank">文章推送</a></b><br>
						管理自己发表的文章，可以将优秀的文章加入到自己的博客主页中，永久收藏
					</td>
				</tr>
			</table>
		</td>
		<td width='10'></td>
		<td valign="top">
			<table width="100%" cellpadding="5" cellspacing="1" $i_table>
				<tr class="head"><td colspan=2>博客管理</td></tr>
				<tr class="f_one">
					<td>
						如果您已经拥有论坛帐号，直接登录博客即可 <a href="$basename&action=activation" target="_blank"><font color="blue">激活您的博客帐号</font></a>，开始建设自己的个人博客主页，体验功能强大的博客系统
						<br><br>
						进入： 
						<a href="$bg_blogurl" target="_blank"><font color="blue">博客首页</font></a>
						<a href="$bg_blogurl/blog.php?bbsuid=$winduid" target="_blank"><font color="blue">我的博客</font></a>
						<a href="$bg_blogurl/user_index.php" target="_blank"><font color="blue">博客管理</font></a>
					</td>
				</tr>
			</table>
			<br>
			<table width="100%" cellpadding="5" cellspacing="1" $i_table>

			<tr class="head"><td colspan=2>文章推送</td></tr>
			<tr class="f_one">
				<td>
					管理自己发表的文章，可以将优秀的文章加入到自己的博客主页中，永久收藏
					<br><br>
					进入： <a href="$bg_blogurl/user_index.php?action=bbsatc" target="_blank"><font color="blue">文章推送</font></a>
				</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
<!--
EOT;
?>-->