<!--<?php print <<<EOT
-->
<br>
<center>$footer_ad</center>
<br>
<center><small><font color="#999999">Powered by <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <a href="http://www.phpwind.net/" target="_blank"><b style="color:#FF9900">v$wind_version</b></a> Code &copy; 2003-06 <a href="http://www.phpwind.net/" target="_blank"><b>PHPWind</b></a> <br>
$wind_spend Time now is:$ft_time, $ft_gzip <a href="http://www.ebay.com.cn" target=_blank title='一亿五千万人爱上的购物网站'>eBay Eachnet</a><br><br><a href="http://www.paypal.com/cn" target=_blank><img src="$imgpath/pay.gif" align="absmiddle" alt='贝宝，安全、快捷、方便的网上支付方式'></a> You can  <a href='$db_ceoconnect'>contact us</a></font></small>
</center><br></body>
<script language="JavaScript" src="$imgpath/global.js"></script>
</html>
<!--
EOT;
?>-->