<!--<?php print <<<EOT
-->
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center><tr><td align=left>
<img src='$imgpath/$stylepath/index/home.gif' align=absbottom> 
<b><a href='$db_bfn'>$db_bbsname </a> -> 取回密码</b></td></tr></table><br>

<form action='$basename' method=post name='formct'>
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center>
<tr><td>
<table width=100% cellspacing=1 cellpadding=3 $i_table>
<tr class=head>
<td height=25 class=head>验证完成.可以通过此程序设置新密码</td>
</tr>
<tr class='f_one'>
<td>
新密码： 
&nbsp;&nbsp;<input type=password name='new_pwd' size='16'>&nbsp;&nbsp;&nbsp;
</td></tr>
<tr class='f_one'> 
<td>
<br>
重复新密码 
<input type=password name='pwdreapt' size='16'>&nbsp;&nbsp;&nbsp;
<input type=hidden value=2 name=jop>

<input type='submit' value='提 交'></td></tr>
<tr align='center'> 
<td class=head height=25></td>
</tr>
</table>
</td>
</tr>
</table>
</form>
<!--
EOT;
?>-->