<!--<?php print <<<EOT
-->
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center><tr><td align=left>
<img src='$imgpath/$stylepath/index/home.gif' align=absbottom> 
<b><a href='$db_bfn'>$db_bbsname </a> -&gt 帖子预览</b></td></tr></table><br>

<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center>
<tr><td>
<table width=100% cellspacing=1 cellpadding=3 $i_table style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
<tr><td class=head>帖子预览</td></tr><tr><td bgcolor=$forumcolorone>$preatc</td></tr>
</table></td></tr></table>
<!--
EOT;
?>-->