<!--<?php print <<<EOT
-->
<table width='$tablewidth' cellspacing=0 cellpadding=0 align=center>
<tr><td align=left><img src='$imgpath/$stylepath/index/home.gif' align=absbottom> 
<b><a href='$db_bfn'>$db_bbsname </a> -> <a href="show.php">论坛展区</a>
<!--
EOT;
if($owner){
if($type==1 || $action=='pic'){print <<<EOT
-->
-> <a href="show.php?uid=$uid&type=$type">$owner 的个人展区(图片)</a>
<!--
EOT;
}elseif($type==2){print <<<EOT
-->
-> <a href="show.php?uid=$uid&type=$type">$owner 的个人展区(文件)</a>
<!--
EOT;
}else{print <<<EOT
-->
-> <a href="show.php?uid=$uid">$owner 的个人展区</a>
<!--
EOT;
}}print <<<EOT
-->
</b></td></tr></table><br>
<!--
EOT;
if(!$action){print <<<EOT
-->
<table width='$tablewidth' cellspacing=0 cellpadding=3 align=center>
<form action="show.php?" method="post" name="show">
<input type="hidden" name="uid" value="$uid">
<tr><td class="head" colspan="2" align="center"><b>论坛展区</b></td></tr>
<tr><td class="f_one">
<select name="fid" onchange="javascript:submit()">
<option value=''>分类</option>
$forumcache
</select>
<select name="type" onchange="javascript:submit()">
<option value=''>类型</option>
<option value="1" $type_1>图片</option>
<option value="2" $type_2>文件</option>
</select>
</td>
<td class="f_one" align="right">
用户名: <input type="text" name="pwuser" size="10">
<input type="submit" value="提 交">
</td></tr></form></table><br>

 &nbsp; &nbsp; $pages
<table width='$tablewidth' cellspacing=0 cellpadding=5 align=center>
<tr class="f_one">
<!--
EOT;
$num=0;
foreach($showdb as $key => $value){
$id=$value[id];
$num++;
print <<<EOT
-->
<td width="25%" valign="top" class="f_one">
<table width='$tablewidth' cellspacing=1 cellpadding=5 align=center $i_table>
<!--
EOT;
if($value[type]=='img'){
print <<<EOT
-->
<tr class="f_one"><td align="center" height="130">
<a href="show.php?action=pic&aid=$value[aid]">
<img src='$value[a_url]' width=150 height=120></a>
</td></tr>
<!--
EOT;
}else{
print <<<EOT
-->
<tr class="f_one"><td align="center" height="130">
<a href="job.php?action=download&pid=$value[pid]&tid=$value[tid]&aid=$value[aid]" target="_blank">
<img src='$imgpath/$stylepath/file/zip.gif'> $value[name]</a></td></tr>
<!--
EOT;
}print <<<EOT
-->
<tr class="cbg"><td>
作者 : <a href="profile.php?action=show&uid=$value[uid]" target="_blank">$value[username]</a><br>
论坛 : <a href="thread.php?fid=$value[fid]" target="_blank">$value[fname]</a><br>
说明 : <a href="read.php?tid=$value[tid]" target="_blank">$value[descrip]</a><br>
</td></tr>
</table>
</td>
<!--
EOT;
if($num==4){
$num=0;
print <<<EOT
-->
</tr><tr>
<!--
EOT;
}}print <<<EOT
-->
</tr></table>
 &nbsp; &nbsp; $pages
<!--
EOT;
}else{print <<<EOT
-->
<table width='$tablewidth' cellspacing=1 cellpadding=5 align="center" $i_table>
	<tr class="f_one">
		<td>
			<table width='100%' cellspacing=0 cellpadding=3 align="center">
				<tr>
					<td width="10%">
<!--
EOT;
if(!$nopre){print <<<EOT
-->
						<a href="job.php?action=redirect&goto=pre&aid=$aid">上一张</a>
<!--
EOT;
}print <<<EOT
-->
					</td>
					<td align="center">
						<a href="read.php?tid=$rt[tid]#$rt[pid]" target="_blank">$rt[descrip]</a> 
					</td>
					<td width="10%" align="right">
<!--
EOT;
if(!$nonext){print <<<EOT
-->
						<a href="job.php?action=redirect&goto=next&aid=$aid">下一张</a>
<!--
EOT;
}print <<<EOT
-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="f_one">
		<td align="center">
			<a href="$rt[a_url]" target="_blank">
				<img src="$rt[a_url]" onload="if(this.width>850)this.width=850;">
			</a>
		</td>
	</tr>
</table>
<!--
EOT;
}?>-->